[2018-08-16 09:57] enzyme69 opened #1 "Getting error when running this script..."
[code]

[2018-08-16 10:02] enzyme69 commented on #1
Second trial after exporting GLTF with different settings:

[code]

[2018-08-16 10:40] enzyme69 commented on #1
I tried all kind of GLTF, and the error I kept getting is "File name too long"... not sure what's going on...

[2018-08-16 10:56] enzyme69 commented on #1
When using monster.gltf animation from Khronos Group:

[code]

[2018-08-16 14:41] kcoley commented on #1
Hi @enzyme69, thanks for trying out this tool and flagging your issues!

Did you build your USD against version 18.09?  Some of the API calls I am using, such as `CreateBindTransformsAttr` are not available in earlier versions of USD.  Updating your USD should at least resolve this error.

The "File name too long" error is because I have not handled base64 strings yet during conversion, so it only

[2018-08-16 14:44] kcoley opened #2 "gltf2usd does not handle base64 texture strings"
- Add support for base64 texture strings

[2018-08-16 14:46] kcoley opened #3 "gltf2usd does not handle overwriting textures within the same directory"
- Add option to overwrite textures within the same directory

[2018-08-16 15:56] kcoley opened #5 "skeleton animations do not play on iOS"
- Make modifications to get skeleton animations to play on iOS

[2018-08-16 15:56] kcoley commented on #5
Merged https://github.com/kcoley/gltf2usd/pull/4

[2018-08-16 15:56] #5 closed

[2018-08-16 16:17] #3 closed

[2018-08-17 03:13] enzyme69 commented on #1
@kcoley You are right with I am needing to update  my USD and thanks for Monster example it converts the animation!!! Wooh~ This is exciting :D

Looking forward to future update!

[2018-08-17 03:13] #1 closed

[2018-08-17 03:17] enzyme69 commented on #1
![monster_test_001](https://user-images.githubusercontent.com/3952687/44246108-c5bd3f00-a21f-11e8-9e81-8f5a209a98b6.gif)

Funny on iOS this USDZ is not animating :D MacOS works.. maybe a bug?

[2018-08-17 03:17] enzyme69 commented on #1
Will file report to Apple~

[2018-08-17 04:06] kcoley commented on #1
@enzyme69 great!  Btw, I made some tweaks to gltf2usd this morning, so that the animations play on iOS now.  Feel free to pull the latest master and see if that works for you.

[2018-08-17 16:25] sulydeni opened #7 "Failed at boost installation"
I keep getting some compiling error when I first ran the USD installation script. I think it has something to do with python and boost.
I have first got a boost installation error that say that there is an error running the below code

then I ran it and I logged the results below, any ideas where this is coming from?

project-config.jam:24: syntax error at keyword =
project-config.jam:24: syntax e

[2018-08-17 17:30] kcoley commented on #7
hi @sulydeni .  From the errors, I'm not exactly sure the cause of your boost errors, though perhaps you can check your version of g++ to see if it supports c++11?  I have had luck building on Mac OS using clang.  If this helps, I initially used the GitHub project [usd-build-club](https://github.com/vfxpro99/usd-build-club), which offers a few ways to build the USD library.  If you are still hitti

[2018-08-17 17:46] kcoley commented on #7
Btw, which OS are you using to build USD?

[2018-08-17 18:06] sulydeni commented on #7
running Ubuntu 16.04.4 LTS
g++ 5.4.0 - will check if it supports and will get back

[2018-08-19 02:31] sulydeni commented on #7
Issue resolved. I followed the same build procedures of https://github.com/PixarAnimationStudios/USD but this time ran @tlorach script from https://github.com/tlorach/USD_build/blob/master/scripts/boost.sh to build boost - it uses boost_1_62_0 instead of  boost_1_55_0.  I ran the script then I copied it over to USD libraries directory /usr/local/USD/src.

[2018-08-19 02:31] #7 closed

[2018-08-19 02:40] kcoley commented on #7
Great!

[2018-08-22 06:52] wave-electron opened #8 "Support for Apple's package stand-alone USD (v18.09) libs"
Kacey,

Currently you will need to initially have USD v18.09 installed on your system and have the Python modules built Pillow (Python module for image manipulation)

Would gltf2usd build with Apples new package [python-usd-library](https://developer.apple.com/go/?id=python-usd-library) ?

In the python-usd-library readme file it stated the following

[code]

[2018-08-22 19:28] kcoley commented on #8
Hi @wave-electron. It should work theoretically since this code is built against the official USD python API. I can give it a try later today to verify

[2018-08-23 02:07] enzyme69 commented on #8
@wave-electron Kind of on topic, I tested on the Monster asset and getting animated USDZ, however it is not animating on my iOS 12 Beta 9.

So I use the GLTF -> USDA. Then I convert USDA into USDZ using Apple binary at USDZ Gallery.

Wondering if I am doing it right?

[2018-08-23 02:33] kcoley commented on #8
@wave-electron I just pointed to Apple's build of USD_Python instead of my local build, and this tool still works, which makes using this tool more convenient for those without a USD build.  As for the scaling issue you are running into, I scale the generated USD models by 100x since glTF defaults to meters and USD defaults to centimeters.  I could provide an option where the scale of the generate

[2018-08-23 02:37] kcoley opened #9 "Add direct usdz export support"
- Add an option for directly generating usdz files instead of generating USD/USDA/USDC first

[2018-08-23 02:40] kcoley opened #10 "Add scale option for generating usda files"
By default, generated USD files are scaled by 100x to convert from glTF's meters to USD's centimeters.  However, not all models are properly scaled.  Add an option to specify the scale to use during conversion

[2018-08-23 02:54] enzyme69 commented on #8
@kcoley I tested it just now with latest update and confirming the GLTF -> USD -> USDZ animation works! Thanks! Not sure what causing it, but finally we have a working USDZ animation with bones! Awesome!

@wave-electron Also bouncing ball USD animation from Apple example does not work as USDZ, but maybe it's related to this bug.

[2018-08-23 03:09] wave-electron commented on #8
Jimmy,

Both transform & bone animations are working in ios12 beta 9. I’ve got some
working examples at www.fusionar.app

However, there is some recent change relating to material referencing in
usda which broke previous usdz models built prior to ios12 beta 6. I’m
still working on what the change is between the versions.... hopefully work
it out later tonight... and let you know.

On Thu, 23 Aug

[2018-08-23 03:48] enzyme69 commented on #8
UPDATE:
Although monster.usdz animation works correctly, I am not getting animation on this monkey head. Not sure why...
[monkey_test_usdz.zip](https://github.com/kcoley/gltf2usd/files/2312819/monkey_test_usdz.zip)

[2018-08-23 04:17] enzyme69 commented on #8
And this animation does not working on iOS, works on MacOS:
- Exported from Blender, Khronos Group GLTF, default option.
- I have ensured Material and Texture assigned

What could the bug be? Is this something that I can manually edit on USDA for quick fix?

[tentacle_test.zip](https://github.com/kcoley/gltf2usd/files/2312881/tentacle_test.zip)

Thanks!

This makes me wondering why the Monster USD

[2018-08-23 04:32] enzyme69 opened #11 "Weird Bones Naming causing errors"
[weird_bone_names.zip](https://github.com/kcoley/gltf2usd/files/2312910/weird_bone_names.zip)

From Blender default, bones often named: bone.000, bone.001, bone.002 and this GLTF to USDA converter seems to dislike this idea.

Perhaps there should be a checker that can modify bone.000 to bone_000? Thanks
👍

[2018-08-23 05:10] kcoley commented on #8
Hi @enzyme69 .  I played with the models a bit and got them to work on iOS by removing `Armature/` from the bones names.  One of the workarounds I previously implemented was naming the skeleton root the same as the root joint.  But with the USD models converted from Blender glTFs, Armature is the root of all bones so is part of the bone names based on the hierarchy.
Here are the tweaked models:
[m

[2018-08-23 05:12] kcoley commented on #11
@enzyme69 thanks for filing this, since it relates to the `Armature/` workaround as well.  I'll look into handling bone names.

[2018-08-23 05:53] wave-electron commented on #8
Also bouncing ball USD animation from Apple example does not work as USDZ, but maybe it's related to this bug.

@enzyme69  Apple has some samples in the standalone USD library. For example if you run the python script skinnedMeshAnimation.py
 You get the skinnedMeshAnimation.usd and skinnedMeshAnimation.usdz in samples/assets directory. These usdz animations are working & i've posted [skinnedMeshA

[2018-08-23 06:54] wave-electron commented on #8
@enzyme69 @kcoley  I've undercovered a really strange bug. A png image file named basecolor.png used for my base_map PBR texture for some reason was making all my usdz models that uses that png file crash in ios12 beta 6 onwards. By merely replacing that png file but keeping everything else the same I fixed all those corrupted usdz files. It doesn't seem to have anything to do with the naming or r

[2018-08-23 07:16] enzyme69 commented on #5
Seems like this is the only line differences, but still investigating why so many different kind of GLTF, some works with animation and some does not....

<img width="1548" alt="screen shot 2018-08-23 at 5 15 16 pm" src="https://user-images.githubusercontent.com/3952687/44510519-3ec50680-a6f8-11e8-86e3-5786d23d605e.png">

[2018-08-23 12:16] enzyme69 commented on #11
Just to add to this, I got this Rig in Blender with name "Beefy Rig" -> this causing error also... only I figure out, there is a space there so I removed it and it does not complaint about name.

Next weird thing is this error, which I can't decipher:
[code]

[2018-08-23 13:10] wave-electron commented on #11
I'm having a stab here. But looking inside beefyPose.gltf  under "skins":
"joints": the joint numbering starts at 12 and the numbering is not
entirely sequential either. Its failing at line 616 usd_skeleton =
joints[0]['skeleton']

joint[0]['skeleton'] is null? But Kacey will have a better idea. I have the
same error in another gltf model... the joint numbering starts at 7. If you
change usd_skele

[2018-08-23 14:35] kcoley commented on #11
@enzyme69 @wave-electron thanks for the info.  I'll try to take a look at this later today.  I may need to refactor the way I am handling the bone names to handle this case better.

[2018-08-24 07:06] kcoley commented on #11
@enzyme69 @wave-electron Digging further into this, I believe it is a bug in how I am detecting joints with animations.  I think I have a way to fix it, so will give it a try

[2018-08-24 08:02] wave-electron commented on #11
Looking at the monster.gltf from KhronosGroup, I noticed the file generator was COLLADA2GLTF
a command line tool [on github](https://github.com/KhronosGroup/COLLADA2GLTF).
I might use this tool to create some more glTF 2 files that have animated bones and see if successfully convert to usda using gltf2usd.py . I was then going to use the same source DAE files and see what differences I can find be

[2018-08-24 17:11] kcoley commented on #11
@enzyme69 does the beefyPose model look as expected when you load it into other glTF viewers?  I am getting weird results when I look at it using [Babylon.js's sandbox](sandbox.babylonjs.com), [Three.js's viewer](https://gltf-viewer.donmccurdy.com/) and on Windows Mixed Reality.

Babylon.js
<img width="1915" alt="beefyposebabylon" src="https://user-images.githubusercontent.com/3946928/44597892-0ec

[2018-08-25 16:29] wave-electron commented on #11
@kcoley If you get a chance take a look at this example. [t-rex.zip](http://www.fusionar.app/usdz/t-rex.zip)
 I created the collada file from Blender -> COLLADA2GLTF -> GLTF file. The file works properly in the Babylon sandbox. It also processes via the gltf2usd.py without error to creae the usda file. The usda file opens up in xcode ok, and looks fine. However, after converting into usdz and view

[2018-08-25 16:38] kcoley commented on #11
@wave-electron sure thing, I'll play with it sometime this weekend to see if I can get it to work.

[2018-08-26 19:54] kcoley commented on #11
@wave-electron Thanks for the findings! I’m creating a regex to try to catch these naming edge-cases during name conversion to USD.

[2018-08-26 23:09] wave-electron commented on #11
@kcoley great... the command tool needs to deal with naming issues, otherwise it will be manually intensive to correct the naming in third party 3D authoring tools.

Over the weekend I was using the  [command tool FBX2gtLF](https://github.com/facebookincubator/FBX2glTF).... again similar problem with the t-rex file. The glTF is working as expected in the bablyon sandbox. It converts to usda & usdz

[2018-08-27 07:26] kcoley commented on #11
@wave-electron I didn't have as much time this weekend, though I did create a [branch](https://github.com/kcoley/gltf2usd/tree/boneNames) where I am using regex to handle node names.  After the change, I was able to see some animation for WalkingLady, though the animation was corrupted.  However, I didn't see anything for the t-rex model.  I hope to find some time this week to take a deep dive and

[2018-08-27 08:58] wave-electron commented on #11
@kcoley
Cool, I'm using that branch now for my testing. You need to add colon : to symbols (boss:RightHandPinky3) that USD rejects.

` Warning: in _InitWithString at line 106 of /tmp/USD/pxr/usd/lib/sdf/path.cpp -- Ill-formed SdfPath </root/node0/node77/node78/boss:RightHandPinky3>: syntax error`

[2018-08-27 12:58] wave-electron commented on #11
@kcoley

to deal with the naming crashes when encountering colon. I updated your regex code to the following  to include the ':'

        `return` re.sub(r'\.|\b \b|-\b|:', '_', name) # replace '.' and ' ' and '-' and ':' with '_'

then around line 730
[code]

[2018-08-27 13:42] wave-electron opened #12 "Index out of range errors"
I've notice a number of times I've got index out of range errors.

in the most recent case it occurred inside of   **def _store_joint_animations**

I add the following exception handling. I think it was happening because the models had several bone branches (rather complex bone animation).

Anyway I modified the following code which at least enabled the usda file to build. The usda animation still

[2018-08-28 13:44] enzyme69 opened #13 "A bunch of joints, animated, cannot be converted"
I basically have bunch of joints, animated, under Armature, exported from Blender.

[loopingnoise.zip](https://github.com/kcoley/gltf2usd/files/2328260/loopingnoise.zip)

Error Message:
[code]

I don't have root of this bones, wondering if this is an issue?

[2018-08-28 15:05] wave-electron commented on #13
@enzyme69  @kcoley My guess is gltf2usd.py may not handle this exception. I've tried numerous  bone based animations, building the source glTF with either the COLLADA2glTF or FBX2glTF tool. The animations may load and work as expected in sandbox.babylonjs.com, but the glTF is converting to USD with distorted or broken animations that won't even load in xcode as usda or safari as a usdz. I've only

[2018-08-28 22:36] wave-electron commented on #13
Its only a guess based on the error.  “dict object has no attribute “GetRestTransformAttr”. It seems that maybe USD schema is looking for a Rest pose that may be missing?

[the USD schema for GetRestTransformAttr](
https://graphics.pixar.com/usd/docs/api/class_usd_skel_skeleton.html#a4da4db99f5cf2176c93b58468257a198)

A blender user had flagged this issue with glTF exporter... missing rest pose on

[2018-08-29 00:50] kcoley commented on #13
@wave-electron @enzyme69 I have some time tonight to look into this.  I suspect it is related to glTF node animations that are attached to joints and transferring to USD, or essentially attaching meshes to joint nodes.  I believe this case was not handled for certain meshes exported from the Blender exporter, so I will see if I can get that working.  Any sample models you can provide would be grea

[2018-08-29 00:52] kcoley commented on #12
@wave-electron thanks for your investigation.  I agree that there should be more exception handling with the various files being imported from various DCC tools.  I plan on making some significant updates to the skeleton logic to handle some edge cases that like attached nodes and joints mapping to USD from glTF.

[2018-08-29 00:52] kcoley commented on #11
@wave-electron thanks for the regex update!  I'll add that to the branch shortly

[2018-08-29 03:44] kcoley commented on #11
@wave-electron revisiting the t-rex model, I was not able to get the usda file to load in my copy of XCode-Beta (I'm currently on 5), though I was able to at least view the model in usdview.  I will try testing it out in Maya when I get a chance, but for now I will merge the regex naming branch to master

[2018-08-29 03:46] #11 closed

[2018-08-29 06:30] kcoley commented on #13
I just merged a change to master that may help with this issue.  The bug was on my side with an API change I had made earlier.  I was able to get the loopingnoise gltf converted to usda and working on iOS.

[loopingNoise.usdz.zip](https://github.com/kcoley/gltf2usd/files/2330996/loopingNoise.usdz.zip)

Feel free to try pulling from master and let me know if you run into other issues.

[2018-08-29 06:36] kcoley commented on #12
@wave-electron do you have a model handy that can repro this issue?

[2018-08-29 06:53] wave-electron commented on #12
@kcoley

[code]
Here is the glTF files. It was built with the fbx2glFT command tool
[Start_Walking.zip](https://github.com/kcoley/gltf2usd/files/2331062/Start_Walking.zip)

glTF Animation works as expected in the sandbox.babylon.com.

BTW, great progress today!

[2018-08-29 07:07] wave-electron commented on #12
@kcoley

After I add my error handling of the indexError above on your latest commit today . The usda file builds. If you open in Xcode Beta 6, the animation plays, but its all distorted (see screen shot below)

<img width="350" alt="example" src="https://user-images.githubusercontent.com/16273780/44771184-a1614b00-abad-11e8-9404-641dfd524053.png">

If you now open the same usda file in Xcode beta

[2018-08-29 09:17] wave-electron opened #16 "unsupported animation target path weights"
@kcoley

[code]
You can download this model from here. [buster_drone glTF autoconverted format](https://sketchfab.com/models/294e79652f494130ad2ab00a13fdbafd)

To get this animation to build I removed the paths referring to weights in the glTF ascii file. However, the usda animation is distorted.

[2018-08-30 01:01] ox opened #17 "Strange Rendering Issue"
I am having trouble figuring out why this USDZ file (I used `gltf2usd` to make a USDA, then zip'd with `usdzip`) is rendering incorrectly. Using `usdview` I'm getting a fully black model, and when I try to open it with iOS 12 Beta 9, the model is tiny and invisible. I've combed through the Materials and they seem fine, as do the Meshes. I'm fairly new to USD so I'm not sure where else to look. Is

[2018-08-30 01:03] kcoley commented on #17
Hi @ox. I’ll take a look an investigate.

[2018-08-30 02:29] kcoley commented on #13
@enzyme69 interesting, I was able to get all the toruses to animate on iOS, though it doe look different in XCode Beta 6.  This could be another difference in behavior between Mac OS and iOS.  I made a screen recording on my phone for reference.
[IMG_1338.TRIM.MOV.zip](https://github.com/kcoley/gltf2usd/files/2334387/IMG_1338.TRIM.MOV.zip)

[2018-08-30 02:33] enzyme69 commented on #13
@kcoley You are right!! It's also working and animating on my side. I guess we can send bug report to Apple. MacOS and iOS USDZ has different behaviour. Sometimes it works on MacOS and not on iOS... at least this works on iOS!!

Thanks!

[2018-08-30 02:33] #13 closed

[2018-08-30 02:47] kcoley commented on #17
@ox looks like this model uses morph targets which I have not yet implemented in this tool, but I will create an issue to track it.  Disabling animations allows your carrot model to load on iOS though it is very large so it may end up behind or above you if you look around.  glTF uses meters are its unit of measurement while USD uses centimeters, so I scale the glTF models by 100x to match this co

[2018-08-30 02:48] kcoley opened #18 "morph targets are not implemented"
Implement morph targets, which should help with https://github.com/kcoley/gltf2usd/issues/17

[2018-08-30 02:49] kcoley commented on #16
Looks like this is an issue with morph targets not being implemented in this tool.  I created an issue to track this feature request: https://github.com/kcoley/gltf2usd/issues/17

[2018-08-30 03:00] kcoley commented on #10
Should help with this issue: https://github.com/kcoley/gltf2usd/issues/17

[2018-08-30 03:09] kcoley commented on #17
I forgot to address the `usdview` issue.  It was mentioned on the USD interest forum that usdview currently expects all PreviewSurface parameters to be explicitly defined, which this tool does not currently do.  There are plans to update `usdview` to not require all parameters to be set, but I can create an issue to track this one too.

[2018-08-30 03:11] kcoley opened #19 "the full USDPreviewSurface is not explicitly written out"
In order to work in `usdview` explicitly define all `UsdPreviewSurface` parameters.

Should help with this issue: https://github.com/kcoley/gltf2usd/issues/17

[2018-08-30 04:28] ox commented on #17
@kcoley Ahh yea, I forgot to mention that I had to return a `(transform, lambda m: m)` (or something like that) when the tool had to parse weights. I'm going to try disabling the animations and trying again.  I think it's doable since USD also supports Blendshapes (weights) from what I can tell by playing with ARKit.

What forums are these? Also, would defining all of the params (guessing [this?][

[2018-08-30 04:35] kcoley commented on #17
@ox

Yep, USD does support blend shapes in the latest release, so I would just need to implement it

There is a USD interest Google group: https://groups.google.com/forum/#!forum/usd-interest
You'll just need to sign in with a Google account.

Yes, that was mentioned in one of the threads in the group.  I have not tried it myself, but I will implement it after fixing the bigger skeleton/blend shap

[2018-08-30 05:06] wave-electron commented on #16
Great. Btw, I managed to get a simple transform animation created in Cheetah3d export to fbx file type and using the fbx2Gltf command tool build glTF file... which successfully converts to a usda file... animation also works as expected in Xcode beta6.

However, with another animation file  using the same fbx conversion process the animation has mesh with scaling problems, the model is slightly mo

[2018-08-30 05:09] wave-electron commented on #9
This would be a good feature.

[2018-08-30 05:17] ox commented on #17
Hmm no dice on getting a single PreviewSurface to render properly. I edited the `pbrmaterial_6` Material [here] and am still getting a black body for the carrot. I then tried to use a primvar to somehow get the normals passed into the PreviewSurface but kind of got lost.

What's interesting is that Apple's models (like this [red chair]) come out looking gray, and use normal maps and primvar shader

[2018-08-30 06:01] wave-electron commented on #17
@ox

I didn't have any issues with the render, used xcode beta 6. Viewable in IOS 12 beta 10.

[carrothead.usdz](http://www.fusionar.app/usdz/carrothead.usdz)

![carrothead](https://user-images.githubusercontent.com/16273780/44832260-8524e300-ac6d-11e8-8e7b-a3a6258915ec.JPG)

[2018-08-30 06:33] kcoley commented on #12
@wave-electron I implemented and merged your exception handler to master.  I am not sure about the animation in XCode, but I might try to see if I can get it to work with the Maya USD importer to see how it behaves there.

[2018-08-30 14:56] ox commented on #17
@wave-electron Hmm strange. By render I meant in `usdview`, which I was assuming would be the definitive tool on USD rendering.

How is your USDZ 400kb smaller than the USDZ I provided here? The only difference reported by `usddiff` between the two is that mine has assets in a dir called `0` and yours does not. Did you use `usdzip` or the `usdz_converter`?

[2018-08-30 16:06] ox commented on #17
Ok I think I figured it out! turns out `usdzip` is very naive in how it constructs the usdz files. Some changes I had to make:

- make sure the USD file is in USDC format with a `.usdc` extention
- operate inside of the directory you're packaging up
- make sure that the `.usdc` file is the first argument to `usdzip`

I was circling around it until I started dumping the contents of @wave-electron's

[2018-08-30 16:06] #17 closed

[2018-08-30 18:45] donmccurdy commented on #18
I was under the impression USD(Z?) only supports keyframe and skeletal animation, not morph targets / blend shapes. Have you found docs or examples to suggest otherwise?

[2018-08-30 19:31] ox commented on #9
I noticed that the `usdzip` tool just uses `Usd.ZipFileWriter.CreateNew(usdzFile)` and calls `addFile` to the zipfileWriter instance. Is this the way to go?

[2018-08-30 20:12] kcoley commented on #18
@donmccurdy with their latest release before SIGGRAPH, they added support for skeletons and morph targets.  Here is a link to some of their Doxygen documentation: https://graphics.pixar.com/usd/docs/api/_usd_skel__schemas.html#UsdSkel_BlendShape

[2018-08-30 20:17] kcoley commented on #9
@ox yep, that's one way to go. There is another call that specifically targets ARKit in the API:

`UsdUtils.CreateNewARKitUsdzPackage(usd_file, usdz_file)`

[2018-08-30 20:29] ox commented on #16
I am going to try to work on this, since I very much need these for one of my projects. Do you have any pointers for docs/methods to traverse? Or maybe a USD model with morph targets?

[2018-08-30 20:33] donmccurdy commented on #18
Awesome, thanks!

[2018-08-30 20:53] kcoley commented on #16
@ox If you have some time, that would be great.  Here are the docs on USD skeletons and blend shapes: https://graphics.pixar.com/usd/docs/api/usd_skel_page_front.html

And here are the glTF docs on Morph Targets:
https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#morph-targets

@wave-electron referenced a model with morph targets in this issue, and I believe your carrot model also

[2018-08-30 21:38] wave-electron commented on #16
@kcoley @ox  Apple also has some sample python scripts for building usda files as part of their USDPython standalone library v 18.09.  I have a live usdz example of skinnedMeshAnimation with weights.

[skinnedMeshAnimation](https://www.fusionar.app/usdz/skinnedMeshAnimation.usdz)
[skinnedMeshAnimation.py.txt](https://github.com/kcoley/gltf2usd/files/2338035/skinnedMeshAnimation.py.txt)

Another Ap

[2018-08-31 18:55] ox commented on #16
Reading the specs more I've found that there are two different kinds of weights in glTF: weights for morph targets and weights for joints. Weights for morph targets how much each BlendShapes affects vertices position, whereas weights for joints are the just how much each joint transformation affects the vertex at that point (`WEIGHTS_0` in glTF). I think USD and glTF are very similar in how they d

[2018-08-31 19:42] kcoley commented on #16
@ox

Yes, this would be a duplicate of #18 .  And glTF does provide more options in terms of representing the blend shape data so some intermittent steps may need to be done during export to USD.

Yes, that should work theoretically.

Yes, USD lets you animate any primvar, or primitive attribute property.  You can even introduce new variables and animate them, though they will probably be ignored

[2018-08-31 20:50] ox commented on #16
@kcoley Could you elaborate more about what intermittent steps might need to be done? The thing that comes to mind is re-calculating normals since they are not blendable, but I might be wrong.

[2018-09-01 00:08] ox commented on #16
So after a bit of fiddling I got far enough where I embed the Mesh in a `SkelRoot`, define a `SkelAnimation` on it, make BlendShapes on the Mesh and link everything up: [gist]. I think the next thing I need to do is map the output of the targets to the blendShape they affect.

[gist]: https://gist.github.com/ox/9ad696f9f6d5e39d192ef471245181ee

[2018-09-01 04:29] kcoley commented on #16
Hi @ox .  Looks great! I'll check out the branch this weekend.

[2018-09-01 12:14] enzyme69 commented on #18
@kcoley Is blendshapes working already for USDZ?

[2018-09-01 12:16] enzyme69 opened #22 "Animating on MacOS but not on iOS, maybe still "Armature/" related"
I thought this one was already solved and I tried deleting all "Armature/" manually using USDA, but somewhat the USDZ is not working. Strange...

Example animation: (made using Blender Grease Pencil, exported as GLTF)
[greasepencil_quicky.zip](https://github.com/kcoley/gltf2usd/files/2342349/greasepencil_quicky.zip)

[2018-09-01 13:34] enzyme69 commented on #22
<img width="1456" alt="screen shot 2018-09-01 at 11 33 21 pm" src="https://user-images.githubusercontent.com/3952687/44946431-8d347c80-ae3f-11e8-9bd6-221761a89ad6.png">

Aha... I got it, I am an idiot! 👻

[2018-09-03 01:05] enzyme69 commented on #22
@wave-electron Yes it works! Ensure the "first name of the joint or bone" matches those for root. That's another gotcha, but @kcoley your Python GLTF 2 USDZ converter is so handy!

[2018-09-03 01:43] enzyme69 opened #23 "Mixamo syntax error"
I am testing this GLTF animation from Sketchfab:
https://sketchfab.com/models/710bbaccf8a442ea9b900354361f6d5a

Error message:

[code]

Probably if I tried importing and exporting again from Blender...

[2018-09-03 01:46] enzyme69 opened #24 "Animation FPS and SCALE tag"
I wonder at what format I should specify the animation FPS and Scale? I tried 0.1 for scaling and giving me error. It needs INT... somewhat.

FPS also... I tried 30 for example:

[code]

[2018-09-03 02:49] enzyme69 opened #25 "Unicode Encode Error and another Syntax error"
This Sketchfab model is also problematic:
https://sketchfab.com/models/60a1ff80a22a48c09833a403b5f48b73

[code]

[2018-09-03 04:33] ox commented on #24
this was actually closed by #26

[2018-09-03 04:34] ox commented on #23
With #26, the model finishes converting. There are quite a few errors though:

[code]

[2018-09-03 04:36] kcoley commented on #23
@enzyme69 @ox thanks for flagging this.  This looks to be another issue with naming.  There are double underscores `//` and parenthesis `(` `)` in the joint names in the generated usd file.  Updating the regex should resolve this, so I'll work on a fix now.

[2018-09-03 04:38] ox commented on #18
@enzyme69 I'm working on it in #16. If you want to see my progress, you can check out [this branch].

[this branch]: https://github.com/kcoley/gltf2usd/compare/master...ox:add-blend-shapes

[2018-09-03 04:42] kcoley commented on #24
@ox thanks for the PR.  I also updated scale to take a float as well, so this should resolve this issue.

[2018-09-03 04:53] #24 closed

[2018-09-03 04:56] kcoley commented on #23
@ox looks like the regex was only part of the issues.  I'll make a PR for that and investigate the texture issue

[2018-09-03 05:39] enzyme69 commented on #23
Ok roger that, I'll be testing a bit later.

[2018-09-03 05:50] kcoley opened #31 "glTF Loader PBR Specular Glossiness support is missing"
- Add support for KHR specular glossiness, which should help with this issue: https://github.com/kcoley/gltf2usd/issues/23

[2018-09-04 04:25] kcoley opened #33 "Bug in some animation models"
Some models do not export and animate as expected.
Here are two samples:
https://sketchfab.com/models/710bbaccf8a442ea9b900354361f6d5a

https://sketchfab.com/models/8d06874aac5246c59edb4adbe3606e0e

[2018-09-04 05:28] wave-electron commented on #33
@kcoley what is interesting about the first model
[https://sketchfab.com/models/710bbaccf8a442ea9b900354361f6d5a](https://sketchfab.com/models/710bbaccf8a442ea9b900354361f6d5a)

Its actually animating correctly in xcode beta 6. I've attached a mov file showing the animation working (unzip to run)
[spiderman_animation_xcode10_beta6.zip](https://github.com/kcoley/gltf2usd/files/2347231/spiderman_ani

[2018-09-04 05:32] kcoley commented on #33
@wave-electron that is interesting.  Based on some of the weird distortions on certain frames, this leads me to believe it is because some key frame animation data may be missing.  I'll check the logic there.  Thanks for the reference!

[2018-09-04 05:40] kcoley commented on #25
@enzyme69 looks like this file has some strings with some weird encodings.  I can add a fallback in case the strings cannot be encoded

[2018-09-04 06:02] wave-electron commented on #33
I just had a look at the animation again in xcode. I also noticed some flashing black disortions on the keyframes. Maybe it is that!

[2018-09-04 06:12] wave-electron commented on #25
Anime character... most likely Japanese character set on the bone names!

[2018-09-04 17:26] ox commented on #25
What would be the fix here? Does USD support Unicode names or would this have to be converted/hashed?

[2018-09-04 19:08] ox commented on #16
Ok, so after a bit more work I managed to:
- correctly align blendshape names so they match in the `SkelAnimation`-defined names and those targeted in each Mesh's `blendShapes` token uniform
- correctly managed to fetch multiple blend shape weights for each keyframe by passing in the ratio of outputs to input frames

[2018-09-04 19:10] kcoley commented on #25
@ox I think the fix would be to either create a name with the node and node index(i.e. 'node_{}'.format(node_index), or load and write out the unicode.  Based on some USD unit tests it seems that unicode strings should be supported in USD, though I am not sure how that will play with usdz on iOS

[2018-09-04 19:16] kcoley commented on #16
@ox does the usda animate on your end?

[2018-09-04 19:32] ox commented on #16
@kcoley It should but for some reason the timeCodes are wrong. It's not even rendering a preview for the model, but I _think_ that might be the timecodes

[2018-09-04 19:55] ox commented on #16
It doesn't seem to be just timecode related. Any kind of blendShape stuff seems to break the iOS renderer.

[2018-09-05 01:40] wave-electron commented on #22
@enzyme69 Jimmy I'm not following what you mean by this. I've tried replacing  "Armature/" references to say "Armature_Bone/" in the same spots as your screenshot above... but the animation still does not run in IOS12 beta 12. It works however in xcode 10 beta 6.  Can you be more explicit with what you mean by....  ensure the first name of the joint or bone matches those for root?

[2018-09-05 01:51] wave-electron commented on #22
When I make those changes the animation will work in xcode beta6, but it previews in IOS12 Beta 12 but the animation does not run. I've uploaded the files for you to check if we're both on the same page. Note: the usdz may work on MAC, I'm still running on High Sierra OS, so cannot check that.
[quicky.zip](https://github.com/kcoley/gltf2usd/files/2350866/quicky.zip)

[2018-09-05 03:02] enzyme69 opened #38 "Questions on embedded GLTF PBR Texture"
Just now, I exported GLTF material from Blender, and during conversion, I am getting this error:

[code]

So far, I have tested 3D GLTF from Sketchfab only and never had issue. Only today I am setting up the shader based on GLTF Blend example. Then I exported the object and getting an error. It does not seem to like RGBA, maybe I should change it to JPG?

<img width="645" alt="screen shot 2018-09-

[2018-09-05 03:03] enzyme69 commented on #38
Works ok on Clay-Viewer:
<img width="553" alt="screen shot 2018-09-05 at 1 02 59 pm" src="https://user-images.githubusercontent.com/3952687/45068686-0831b780-b10c-11e8-80f6-5f90ed539651.png">

[2018-09-05 03:29] enzyme69 commented on #38
@kcoley This is the one:
[USDZ_donut_rgba_error.zip](https://github.com/kcoley/gltf2usd/files/2351105/USDZ_donut_rgba_error.zip)

Maybe the texture itself is problematic. Just now, I convert all the PNG into JPG and works!

[2018-09-05 09:54] wave-electron commented on #33
@kcoley

Did you notice this comment by Spiff today in the usd-interest group?

I've noticed we use Xform rather than SkelRoot in the bone animations I've been building.

[UsdSkel](https://graphics.pixar.com/usd/docs/api/_usd_skel__schema_overview.html#UsdSkel_SchemaOverview_SkelRoot)

[2018-09-05 10:07] wave-electron commented on #33
Spiff comments were in respect to this 01.usda file inside this CesiumMan.zip..... 01.usda animates in xcode10 beta 6, but only previews with no animation in IOS 12 beta 12.

[CesiumMan.zip](https://github.com/kcoley/gltf2usd/files/2352280/CesiumMan.zip)

[2018-09-05 11:47] wave-electron commented on #22
@enzyme69 Jimmy did you get a chance to look at this? I'd love some feedback.

[2018-09-05 13:44] enzyme69 commented on #22
@wave-electron You cannot have same name bone within the hierarchy. On MacOS Mojave, the USDZ animation works fine, but on iOS, it's more strict.

Let me try to fix yours, I've been using Sublime to quickly replace same name bones ... one sec..

Believe it or not, I have been asked the same questions on this weird hierarchy name issue, no "Armature/" ... :D

<img width="1680" alt="screen shot 2018

[2018-09-05 13:48] wave-electron commented on #22
ok. Thats what I thought it was... but I've been finding it hard to fix that hierachy from within the usda file. Do you fix that inside Blender? If so could you screen shot how it looks. Thanks

[2018-09-05 13:50] enzyme69 commented on #22
I am fixing it using Sublime Text.

Basically "Find All" : "Armature/", whilst all highlighted, I deleted it.

<img width="1287" alt="screen shot 2018-09-05 at 11 47 40 pm" src="https://user-images.githubusercontent.com/3952687/45097453-42c83e00-b166-11e8-97ae-b21e82b68430.png">
[quicky_fixed.zip](https://github.com/kcoley/gltf2usd/files/2352995/quicky_fixed.zip)

[2018-09-05 13:53] wave-electron commented on #22
Can you reload that zip again. I don't think you gave it enough time to upload

[2018-09-05 13:55] wave-electron commented on #22
Jimmy got it. It works for me now on ios 12 as well. Appreciate that. I think that will help me fix many other bone animations I've been having problems with. :)

[2018-09-05 15:42] ox commented on #38
So the texture it's failing on is the Ambient Occlusion png, which has 4 channels. The `_convert_materials_to_preview_surface` function goes in expecting to use the `r` component of the `occulusionTexture` image as the occlusion map, sees a 4 channel image, which jumps to logic trying to unpack a glossiness map.

I think if you change your ao.png to only be 3 channels, it should work

[2018-09-05 16:41] kcoley commented on #38
@enzyme69 yes what @ox says is correct since the logic initially assumes that you are using an ORM texture (occlusion: r, roughness: g, metallic: b).  The texture logic definitely needs refactoring.  I will look into that later today to make it more robust.  But in the meantime, @ox solution should work.

[2018-09-06 02:03] kcoley commented on #33
@wave-electron thanks for the note on the SkelRoot.  I can look into that.  Also cool that the model at least works on iOS!  Looking at the usda file, I see the problem with the popping animation due to some missing values for some of the joints at certain frames.  I thought I had resolved this, but I must have missed some cases.  I'll work on fixing that.

[2018-09-06 02:19] kcoley opened #41 "Change xform node with skeleton data to SkelRoot"
As referenced here: https://github.com/kcoley/gltf2usd/issues/33

[2018-09-06 03:26] enzyme69 commented on #38
It makes me wonder if we actually have "Occlusion Transparency Shader" already ...
![weird_rgb](https://user-images.githubusercontent.com/3952687/45133428-75128380-b1d8-11e8-8145-c71c8fd9b792.gif)

[2018-09-06 16:01] ox commented on #33
ahh interesting. I create a `SkelRoot` with a `Skeleton` + `SkelAnimation` inside it in #36. However I have a feeling that my changes to support blend shapes will probably break normal rigging animations. Do you have any models that have blendshapes + animations?

[2018-09-06 18:40] ox opened #42 "Modularization/Organization"
This is my first large-ish Python project that I've had to poke around, maintain, and extend. I was wondering what kind of strategies we can consider to split up the code a bit (`gltf2usd.py` is creeping up to 2k LoC). My goal would be to make it easier to keep track of control flow and to make it easy to find related and connected code blocks ("I want to fix an animation bug in joints. This modul

[2018-09-06 21:02] enzyme69 commented on #38
@kcoley Do you mean in the Blender material node itself, I could have **Roughness - Metalness -Occlusion (**greyscale) plug into RGB node which will translate into GLTF and works with your conversion?

[2018-09-06 21:04] enzyme69 commented on #38
It's this Metalness and Roughness which unfortunate...
<img width="900" alt="screen shot 2018-09-07 at 7 03 32 am" src="https://user-images.githubusercontent.com/3952687/45185031-27475b00-b26c-11e8-962b-43130fd2ba7a.png">

[2018-09-07 02:54] #16 closed

[2018-09-07 02:54] #18 closed

[2018-09-07 03:09] kcoley commented on #42
@ox yes I agree with modularizing the codebase.  The `refactorSkeletons` branch is progress towards that goal, splitting the glTF components into separate classes.  In the branch, I moved those classes under a `glTF2` sub module.  `gltf2loader.py` then provides the objects to `gltf2usd.py`.  This would hopefully make it much easier to implement changes and minimize the code needed in the main scri

[2018-09-07 04:59] wave-electron commented on #33
After several hours of trying today. I built up my own bone animation from scratch using a 3dwarehouse [model of hand ](https://3dwarehouse.sketchup.com/model/30491ee9efc058909a1a64c96fe2fef1/hand)

I built the joint structure & created different poses in Cheetah 3D. Then exported as Collada Model. I imported into Blender in order to use the GLTF 2 exporter. After using the gltf2GLTF command tool

[2018-09-07 13:57] Giorat opened #43 "you need also numpy as a dependence for the script!"
you need also numpy as a dependence for the script!

You probably forgot it in the requirements file.

[2018-09-07 14:02] kcoley commented on #43
@Giorat that's right, thanks for catching this!  I'll update the requirements file

[2018-09-07 14:06] #43 closed

[2018-09-07 14:07] #9 closed

[2018-09-07 20:52] wave-electron commented on #22
@enzyme69 @ox @kcoley Shouldn't this issue still be open?

Unfortunately, haven't had time myself to explore a coding solution, but it really requires one.

The only way I know to currently build a bone animation using gltf2usd tool required me to manually edit the usda file to make the animation run on IOS12 beta 12.  Whilst the animation does work in Xcode without the edit.... I would think most

[2018-09-07 21:53] kcoley commented on #22
Yeah I am not sure how this was closed (might have been auto-closed by one of the other merged PRs).  I'll reopen this.

[2018-09-07 21:55] ox commented on #22
@wave-electron yes this issue should still open. I'm digging through it right now. So far, the only real problem I see in @enzyme69's model is the lack of a root skeletal node (without '/' in it's path) in the "wrong" screenshot. Looking at the difference between the "quicky" models, I noticed that in `quickyX`,  the `"Armature_Bone"` skeleton has a root joint "Armature_Bone" (not to be confused w

[2018-09-07 22:42] scottstevens opened #44 "Issue converting GLFT and getting texture to properly render"
I've been playing around with this and have been having an easy time converting GLFT's from around the web... but have been having a lot of problem getting ARKIT to properly render out the textures from assets of my own.  I was wondering if there was some insight that could be provided as to why my USDZ version is not working when the GLFT is fine.

I incidentally had to fix something locally to g

[2018-09-08 01:28] ox commented on #22
@wave-electron BlendShape support was merged however I haven’t gotten animations to play. To be honest I haven’t seen any BlendShape USD models out on the Internet. I think that part of the schema is very new so we might be on the frontier on this one. I have successfully generated USD models from gltf models which has an animation channel with `“path”: “weights”`, but iOS refuses to render it.

W

[2018-09-08 01:36] wave-electron commented on #22
We might be able to request example from Pixar in the usd-interest group. Those guys seem fairly accommodating to requests. In respect to my animations with weights. I’m creating the animation in Cheetah 3D, exporting as a collada, importing into Blender to export as glTF 2. Then running the gltf2usd command line tool. Finally manually editing the file to fix the joint name. Then using usd_convert

[2018-09-08 04:58] wave-electron commented on #22
@ox  I tried out your patch above on the bananaMan.usdz above. I had to make the following edits manually to get it to work. If i didn't do this the animation was all distorted and broken!

Are you able to re-jig a patch to replace **Armature/Armature_Joint**  with **skel**?

The edits in red marker

<img width="886" alt="usdz_wrong" src="https://user-images.githubusercontent.com/16273780/45250486

[2018-09-08 05:00] enzyme69 commented on #22
Exciting development in regards to blendshapes!!

But you are right, it does not work as USDZ yet, maybe on Apple side. I don't know how Maya/Houdini/Katana handles this USD however, does it simply load and can render for Renderman or something?

Is there example by Apple, a USDZ with blendshapes that work, apart from Memoji?

[OUTPUT.zip](https://github.com/kcoley/gltf2usd/files/2363012/OUTPUT.zi

[2018-09-08 05:26] enzyme69 commented on #22
Much simpler animation to test this "shapekeys" or "blendshapes".
[simplevirus.zip](https://github.com/kcoley/gltf2usd/files/2363029/simplevirus.zip)

The GLTF with blendshapes seems to work, I tested:
https://gltf-viewer.donmccurdy.com

[2018-09-08 06:07] wave-electron commented on #22
@ox @enzyme69 @kcoley From Pixar  via usd-interest group 1st August 2018

 UsdSkel provides a fully featured encoding for Skeletons, geometry bindings, and Joint Animations for USD (with blend shape support anticipated in the coming year)

From Pixar via usd-interest group 8th Sept 2018

[2018-09-08 06:11] ox commented on #22
@wave-electron I’m away from my computers this weekend but I’m glad that we are narrowing down the issue. I have so far avoided wading into the skinning and skeleton building code in gltf2usd, as it’s the most intricate, so my patches are still just exploratory. Would it be possible for you to share the bananaman gltf model so I can build a fix against it?

It seems that first it’s important that

[2018-09-08 06:13] wave-electron commented on #22
When you do have chance later... take a look at this example by Apple on Skel animation with weights.

[soccerBall.usda.txt](https://github.com/kcoley/gltf2usd/files/2363057/soccerBall.usda.txt)

[2018-09-08 06:31] ox commented on #22
@kcoley I interpreted the presence of the SkelRoot to just mean that there is a skeleton somewhere further down this stack. I’m still confused about why the skeleton name needs to be specified as the root joint even though the joints array is just to establish hierarchy using arbitrary but consistent naming. I really think it’s a mismatch of array lengths between the joints tokens and the timesamp

[2018-09-08 12:09] kcoley commented on #22
@ox ah, I learned at SIGGRAPH that this is a bug in the iOS implementation of USD.  I believe the convention is based on Maya's USD exporter, which names the skeleton root the same name as the root joint.  Renaming the joints is a workaround to get it to animate on iOS until the implementation is updated.

[2018-09-08 12:45] kcoley commented on #22
@ox

Yes, this is correct.  With the skeleton refactoring branch, the array lengths are now the same for all the joint tokens since the animation samples are now being interpolated based on sampling with the fps parameter.  This seems to be working with the models from Sketchfab, though I am chasing down an animation hierarchy issue, which causes some parts of an animated model to be detached and

[2018-09-08 21:34] wave-electron opened #45 "Working with both COLLADA2GLTF & FBX2glTF"
@kcoley @ox

Given this is a command line tool, it makes sense for it to work well with other 3D filetype command line tools.
These command line tools convert  DAE & FBX -> GLTF 2.0
[COLLADA2GLTF](https://github.com/KhronosGroup/COLLADA2GLTF) & [FBX2GLTF](https://github.com/facebookincubator/FBX2glTF)

This tool can then convert the GLTF 2.0 -> USD & USDZ.

If you can get this tool to do that flaw

[2018-09-10 04:59] kcoley commented on #45
@wave-electron I think that would be a good goal for this tool.  I agree that we would need to find all the edge cases that these exporters generate to make this tool more robust.  Perhaps we can log them in this issue?

[2018-09-10 05:03] kcoley commented on #22
@ox no problem!  I spent a good chunk of time working on this over the weekend, though I will probably need one more day or two to finish integrating all my changes.  It's definitely a big refactor so it's probably safer to test out the PR once I create it to make sure everything is ironed out.

[2018-09-10 06:50] wave-electron opened #46 "Material not rendering with some Animations models"
Has anyone else successfully assigned materials or solid colors to multiple faces  incorporating animations?

So you might have a single mesh broken into mulitple faces, like animating a dinosaur, separate material assignment for say the eyes, body & claws. So 3 separate png files will be in the usdz archive each assigned to 3 different faces.

I have successfully created several animations incorp

[2018-09-10 16:28] ox commented on #45
@wave-electron yea that sounds like a great idea. I am already using fbx2gltf in my pipeline and I would love for flawless conversions down the line.

[2018-09-11 15:31] kcoley commented on #46
Hi @wave-electron.  Are you referring to multiple material assignments to a single mesh?  I think that is something that glTF 2.0 currently does not support.  Unless you are referring to something else?

[2018-09-11 20:52] wave-electron commented on #46
Yes. Ok I didn’t know that about glTF 2.0. It’s probably better practice
just having the single material assignment anyway.

On Wednesday, 12 September 2018, Kacey Coley <notifications@github.com>
wrote:

[2018-09-11 22:06] ox commented on #42
@kcoley Yea that looks pretty good. I was poking around facebook's fbx2gltf and they process fbx files in an [interesting way](https://github.com/facebookincubator/FBX2glTF/blob/master/src/Fbx2Raw.cpp). First they convert fbx to a raw format, then convert the raw format to gltf. This would be analogous to how a compiler will transform code to an intermediary format, then transform that format to m

[2018-09-12 04:05] #46 closed

[2018-09-12 06:13] wave-electron opened #49 "Animating more than 1 character is not working"
@kcoley @ox

I have two character animations  I posted at [fusionar.app](https://www.fusionar.app)

![CarrotMan](https://www.fusionar.app/img/CarrotMan.gif)

![BananaMan](https://www.fusionar.app/img/bananaMan.gif)

For some reason the two characters don't play nicely as one scene file in usd or usdz. They work as dae files in both Cheetah3D and Blender. I've attached the glTF 2.0 files I was usin

[2018-09-13 01:00] enzyme69 opened #50 "A simple turn table animation does not work"
I am animating an object in Z-axis from 0 to 360 ° with 2 linear keyframe in Blender for 100 frames, exporting as GLTF, and I am not getting animation somewhat. Quite strange.

If I made keyframe so that the animation goes from 0 to 355 ° it seems to work (as GLTF, using online GLTF viewer) but very slow, and seems to be trimmed and --fps does not make any different.

The resulting USDZ does not s

[2018-09-13 02:31] enzyme69 opened #51 "Is animated "stepped" frames / GIF / PNG possible in GLTF to USDZ?"
Like the subject, I am actually thinking to do some kind of stop motion animation using bunch of PNG + transparency. And having this as GLTF would be quite fun, I think.

Although so far, trying to do this using 3D mesh sequence seems like not possible since kefyraming visibility in block (not linear) or stepped keys do not translate to GLTF... unless I am doing it wrong? Wondering if Scaling On a

[2018-09-13 03:36] kcoley commented on #49
@wave-electron this is odd.  I was not able to get it to work on my end either.  Everything seems to be authored as expected, so could be a limitation on iOS.  Though you're right in that you're in unchartered waters!

To verify, I can see if this at least works in USD Maya importer.

[2018-09-13 03:57] kcoley commented on #50
@enzyme69 ah, this looks like a bug on iOS in that it does not understand quaternion rotations.  I tweaked your USD file to use Euler rotation angles instead.  The catch is that every frame has to be "baked" because USD linearly interpolates the rotation which causes distortions in the mesh.

[icopoke.usda.txt](https://github.com/kcoley/gltf2usd/files/2377632/icopoke.usda.txt)

I can report this t

[2018-09-13 04:00] kcoley opened #52 "quaternion rotations are ignored on iOS/XCode"
Since iOS and XCode currently do not support quaternion xform rotations, add an option to convert quaternion rotations to baked linear Euler rotations:

https://github.com/kcoley/gltf2usd/issues/50

[2018-09-13 04:08] kcoley commented on #51
@enzyme69 are you trying to do step animations in glTF, which would look more like a 3D stop motion?  There is a sample model in the glTF-Asset-Generator that demos this: https://github.com/KhronosGroup/glTF-Asset-Generator/tree/master/Output/Animation_Node
You can check out [model 03](https://bghgary.github.io/glTF-Assets-Viewer/?manifest=https://raw.githubusercontent.com/KhronosGroup/glTF-Asset-

[2018-09-13 05:35] wave-electron commented on #49
@kcoley I also found other issues as well.  I took Apple's animating sample of the [skinnedMeshAnimation ](https://www.fusionar.app/usdz/skinnedMeshAnimation.usdz) and added the usda snippet for animating the cube to the usda file with CarrotMan animating by itself. I found that even this kind of pairing of two animations wouldn't preview in IOS 12 but worked fine in xcode.

I also heard from one

[2018-09-13 05:57] wave-electron commented on #49
@kcoley Apple has at least given a live demo of  two characters animating in the same file. So this would make you think it may not like something about the structure of our usd file.

<img width="600" alt="radaraardvark" src="https://user-images.githubusercontent.com/16273780/45469518-2f703080-b76d-11e8-9bf5-279213a6fb01.png">

[2018-09-13 07:53] enzyme69 commented on #51
Thanks, will try~

[2018-09-13 08:05] enzyme69 commented on #51
@kcoley It might be me not doing it properly, but I cannot get "stepped key" animation to work.

3 keyframed Cube Position that supposed to pop from position A, B, C become linear interpolation.

[2018-09-13 15:48] kcoley commented on #51
@enzyme69 ah right, I have an upcoming fix in my refactor_skeleton branch which should handle animation interpolation baking.  I'll try to get that ready tonight or tomorrow for you to test.

[2018-09-13 21:06] enzyme69 commented on #51
[USDZ_stepped.zip](https://github.com/kcoley/gltf2usd/files/2380969/USDZ_stepped.zip)

I attached the Blend (open with Blender 2.79). It's a simply basic animation with "stepped keys".

The resulting animation is still interpolated as linear, eventhough the motion is really fast.

I am trying to recreate this:
https://www.youtube.com/watch?v=6dsr8uXA5qE

[2018-09-13 21:14] enzyme69 commented on #51
Note:
Animation works in MacOS, but failing again on iOS 12 GM! 🤔

[2018-09-13 21:40] enzyme69 opened #53 "Previous tentacle animation does not work anymore after the updates"
Not sure what's going on... but seems like there GLTF2USD converter has made changes in hiearchy, where I used to just delete "Armature/" and animation works on both MacOS and iOS.

Today when I tried again, the animation works on MacOS, but not on iOS 😞

This is USDA I kept from the past, works for both MacOS and iOS:
<img width="1440" alt="screen shot 2018-09-14 at 7 37 54 am" src="https://user-

[2018-09-13 21:43] enzyme69 commented on #53
Hierarchy of the Blend:
<img width="991" alt="screen shot 2018-09-14 at 7 42 55 am" src="https://user-images.githubusercontent.com/3952687/45517560-e1e9d700-b7f1-11e8-899c-fe9007629a08.png">

As usual I export the GLTF and then run the Python GLTF2USD. But something has definitely changed.

[2018-09-13 21:49] enzyme69 commented on #53
Zip:
[USDZ_tentacleThree.zip](https://github.com/kcoley/gltf2usd/files/2381096/USDZ_tentacleThree.zip)

This one works on MacOS, but failing on iOS. Again back to this issue.

Last time, I just have to delete "Armature/" this time, I am not sure. There seems to be "Armature name" in the hierarchy.

In Blender, "Armature" is the default name of the bone. I wonder if I should change and so we can ge

[2018-09-13 21:55] enzyme69 commented on #53
Ok after banging my head, I think this one works!

[Archive.zip](https://github.com/kcoley/gltf2usd/files/2381116/Archive.zip)

<img width="1292" alt="screen shot 2018-09-14 at 7 54 30 am" src="https://user-images.githubusercontent.com/3952687/45518017-802a6c80-b7f3-11e8-8962-07d441650643.png">

[2018-09-13 21:58] wave-electron commented on #51
I fixed it, now works in IOS 12. Watch the jointname - has to the same as the Skeleton... remember you showed me that!
rename the file to stepped.usdz to run.
[stepped.usdz.txt](https://github.com/kcoley/gltf2usd/files/2381122/stepped.usdz.txt)

[2018-09-13 22:07] enzyme69 commented on #53
I understand the pattern and how to fix it for now, if there is any changes again, I gotta remember this pattern...

[2018-09-13 22:09] wave-electron commented on #51
@enzyme69 @kcoley @ox  Another gotcha for making sure ios12 previewing doesn't fail. Always make sure you never assign more than one solid-color or material to a single mesh! This is why converting assets from SketchFab and other online sources is so problematic. This issue wasted hours of my time yesterday! I also found another really odd issue when you pair a bone animation mesh with a non anima

[2018-09-13 22:09] enzyme69 commented on #51
@wave-electron Thanks I realized I gotta keep the "/Armature/" in the hiearchy.

BEFORE:
<img width="1062" alt="screen shot 2018-09-14 at 8 06 13 am" src="https://user-images.githubusercontent.com/3952687/45518602-76a20400-b7f5-11e8-8214-6538fb41b6c5.png">

AFTER:
<img width="1023" alt="screen shot 2018-09-14 at 8 05 58 am" src="https://user-images.githubusercontent.com/3952687/45518608-7c97e500-b

[2018-09-13 22:10] #53 closed

[2018-09-13 22:17] enzyme69 commented on #51
@wave-electron yes, Sketchfab assets are kind of "problematic". I did not find any GLTF animated asset that works 100% I guess it needs to be case by case until we reach a perfect result 😓

There seems to be no proper standard with GLTF ... Well, if I export my own animation from Blender using Khronos Group, at least I can say the pattern would be similar.

But a lot of artists uploaded just the B

[2018-09-14 01:14] enzyme69 commented on #44
@scottstevens I checked your USDZ with iOS 12 GM, seems to work!

[2018-09-14 01:28] scottstevens commented on #44
I had gotten the model to show up but not with the proper textures.  It's
supposed to be tan (but ends up gray on the iPhone).  Did it show up tan
for you?

On Thu, Sep 13, 2018, 8:14 PM Jimmy Gunawan <notifications@github.com>
wrote:

[2018-09-14 04:33] wave-electron commented on #49
@kcoley I've attached a usda & usdz of CarrotMan animating next to a stationary cube. In xcode the cube doesn't move - correct. In IOS 12 the cube is moving with the movements of the CarrotMan - wrong!

I've tested this on a number of other animating characters and same result, the stationary objects are moving with the bone animation. I tried for a few hours to find a solution but could n't. It c

[2018-09-14 19:58] enzyme69 opened #54 "Another Sketchfab model (static) with export issue related to mesh"
https://sketchfab.com/models/f74eefe9f1cd4a2795a689451e723ee9#download

Error message:
[code]

[2018-09-14 20:00] kcoley commented on #54
I'll take a look at this later tonight.  I am putting in the final touches of my refactor branch and I'll test against that.

[2018-09-14 22:50] wave-electron commented on #54
@enzyme69

It seems that particular sketchFab model  has many hundreds if not thousands of loose mesh artefacts inside the different rooms... not a good fit for AR QuickLook or usdz in its current form. Personally the better way to go for that kind of AR thing... shoot a 360 HD video of The Hallwyl Museum, upload to youtube and stream it to the material of sphere as a spriteKitscene in ARkit IOS a

[2018-09-14 23:03] wave-electron commented on #54
Here's the swift playground. I use to run it on playgrounds swift on my ipad pro... playgrounds swift is buggy at the moment... but with a bit of tweaking you should be able to get this working in xcode.

[ARKIT Portal  360 View YouTube .playground.zip](https://github.com/kcoley/gltf2usd/files/2385119/ARKIT.Portal.360.View.YouTube.playground.zip)

[2018-09-15 00:26] sulydeni commented on #38
I have a similar issue. My model does not reflect light the same way it does in gltf

[2018-09-17 16:19] kcoley commented on #44
Hi @scottstevens .  I have been doing some major refactoring in the code (almost done) on the refactor_skeleton branch.  In the process, I was able to get the texture to render correctly on iOS 12 GM.
[chair.usdz.zip](https://github.com/kcoley/gltf2usd/files/2389370/chair.usdz.zip)

I plan to have the PR ready pretty soon for others to test out.

[2018-09-17 16:55] scottstevens commented on #44
@kcoley  Im a bit puzzled unless this is some issue with my install of USD.  Every time I run an asset I get this:

![sofa](https://user-images.githubusercontent.com/1002480/45637613-93963b80-ba70-11e8-8631-0328feea8f0d.jpg)

[2018-09-17 17:21] scottstevens commented on #44
@kcoley I am seeing that the outputted PNG's from your version came out different than mine.  There must be some issue in the conversion of the PNG's.  I suspect it has something to do with me using a windows machine.

[2018-09-17 18:36] kcoley commented on #44
Hi @scottstevens , yes sorry, I made the conversion on my `refactorSkeletons` branch: https://github.com/kcoley/gltf2usd/tree/refactorSkeletons

It's still work in progress, but you can give it a try with the models.  I am changing how I am loading textures using pillow, which fixes a bug with loading grayscale images.

[2018-09-19 05:05] wave-electron commented on #49
@kcoley I'm still playing around trying to get more than 1 bone animation working in the same file.

In my experimentation... I discovered that if you save a second mesh of the same character (without bones), this 2nd mesh will also animate exactly the same way as the first character animation with bones in the same file in IOS12, but if you upload the file in xcode it doesn't!

I've attached the

[2018-09-19 06:58] wave-electron commented on #49
@kcoley I got it working on iOS 12! You need to combined the multiple characters in 1 mesh, with 1 uv_map.  It will work with your command tool as is...so I'm going to close this issue now.

[2018-09-19 06:58] #49 closed

[2018-09-19 15:39] kcoley commented on #49
@wave-electron nice, good to know!

[2018-09-22 03:25] enzyme69 opened #56 "Enumeration Must Be String?"
[code]

I am using a different MacBookPro, running this Python tool to convert GLTF to USD. Trying to convert:
https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/DamagedHelmet/glTF

However, keep getting the error above.

I have not installed XCode 10 or MacOS Mojave on this new MacBookPro.

[2018-09-22 03:28] enzyme69 commented on #56
Ok seems to work after I install enum34 module! Phew~

[2018-09-22 03:28] #56 closed

[2018-09-23 02:14] wave-electron commented on #49
@kcoley  Here's a link to a working usdz file for future reference. To recap, you need to merge separate character meshes into a combined mesh. This requires rebinding the mesh & re-doing poses, keyframes etc. You also need to have a single uv_map for the combined characters.  The problem with this of course, multiple bone animations source online resources will most likely not work with usdz with

[2018-09-23 02:16] wave-electron commented on #49
@kcoley BTW, if I haven't said it before.... awesome usd conversion tool. This is by the far the best tool for doing this right now. It took me a few weeks to work out the the workflow, but its super reliable now. If usdz takes off the popularity of this command tool will continue to grow!

[2018-09-24 04:28] kcoley commented on #49
@wave-electron thanks for the reference model.  I'll look into the best way to implement that.  And thanks for all the help with this tool!

[2018-09-25 06:34] wave-electron commented on #49
@kcoley I created  a more complex animation today using the gltf2usd tool. This animation had two bone characters & a separate mesh which I did a transform animation (moving the cheese). I did have some troubles getting the usdz to preview, but eventually got a format out of Cheetah 3D which worked for usdz.

To get the file ready for gltf2usd I export as a DAE file from Cheetah 3D, then use Blend

[2018-09-26 06:05] kcoley commented on #54
@enzyme69 I just made an update for master which is able to convert the model to usda/usdz.  Though as @wave-electron mentioned, it is too big to load in XCode/iOS.  Though you can view it if you have usdview installed.

[2018-09-26 06:05] #54 closed

[2018-09-26 06:07] kcoley commented on #52
I added a new flag called "--use-euler-rotation".  Using this should get the rotations to work by converting the rotation quaternions to euler angles.  Note that this won't be smooth for all animations.

[2018-09-26 06:07] #52 closed

[2018-09-26 06:08] kcoley commented on #50
Should work with the "--use-euler-rotation" flag now: https://github.com/kcoley/gltf2usd/issues/52

[2018-09-26 06:08] #50 closed

[2018-09-26 06:09] kcoley commented on #19
All parameters are now explicitly written out.  Unfortunately I did not see a visual difference in usdview on Mac OS or Windows

[2018-09-26 06:09] #19 closed

[2018-09-26 06:10] kcoley commented on #22
I made a recent update on iOS to the next Beta (12.1) and it seems to resolve the root name issue.  Is anyone else able to confirm?

[2018-09-26 06:10] kcoley commented on #41
Should be in the newest drop to master

[2018-09-26 06:10] #41 closed

[2018-09-26 06:11] kcoley commented on #44
@scottstevens the update for this should now be in master

[2018-09-26 06:11] #44 closed

[2018-09-26 06:21] kcoley opened #58 "alpha values should be removed for iOS/XCode if not used in the glTF file"
https://github.com/kcoley/gltf2usd/issues/38

[2018-09-26 06:43] wave-electron commented on #51
@kcoley

Great work!.... Thanks for the update. Will try and test the new version out tomorrow & give you some feedback.

[2018-09-26 13:19] MrDChristop opened #59 "Error when no BaseColorTexture and only BaseColorFactor"
Hi
i have gltf models which have only a baseColorFactor and no baseColorTexture in the pbrMettalucRoughness material. When processing i get this error. I tested it and its because there is no texture. it gets the color somehow in the wrong format.

This fails
[code]

This succeeds using the same mode just changing the material definition
[code]

Here is the error i get. What would i need to do to

[2018-09-26 14:39] #59 closed

[2018-09-26 14:40] kcoley commented on #59
Thanks for flagging this @MrDChristop !  It should be resolved now.

[2018-09-27 13:51] MrDChristop opened #61 "Crash due to node name starting with number"
Hi
I noticed that if the node xform names start with a number the exporter crashes inside usd with an illformed sdfPath.
`Warning: in _InitWithString at line 106 of c:\users\d_chr\downloads\usd-master\pxr\usd\lib\sdf\path.cpp -- Ill-formed SdfPath </root/00095036_LACK_N_cff_tbl_90x55_white001_1_0>: syntax error`
This is the section in the gltf file,notice the name of each xform.
`"nodes":[{"mesh":

[2018-09-27 13:58] sulydeni commented on #61
I had the same issue and tried to make a substitution in the former commit. https://github.com/kcoley/gltf2usd/commit/396ea0b0d70cf83f0a5b2776c4eee0ab2fcd5ea8

[2018-09-27 14:09] MrDChristop commented on #61
Hi
[code]

and it processed.

[2018-09-27 14:13] kcoley commented on #61
Sorry, when merging my changes, it overwrote @sulydeni 's fix.  I'll add it to gltf2usdUtils

[2018-09-27 14:18] #61 closed

[2018-09-29 02:57] enzyme69 opened #63 "Latest converter update is confusing and has weird issues..."
I'm wondering what's the best way to install the Python module. In the past, I simply copy paste all the files in the source into the folder where the gltf asset is, and then run the Python tool:

<img width="215" alt="screen shot 2018-09-29 at 09 55 47" src="https://user-images.githubusercontent.com/3952687/46240189-e9060d00-c3cd-11e8-8fa8-6886175d4bec.png">

But in the latest update the tools ha

[2018-09-29 03:08] enzyme69 commented on #63
Another example I am testing is this Two Tentacles animation.

<img width="1119" alt="screen shot 2018-09-29 at 10 04 02" src="https://user-images.githubusercontent.com/3952687/46240296-7138e200-c3cf-11e8-8914-02d7919732ed.png">

[ori.zip](https://github.com/kcoley/gltf2usd/files/2430234/ori.zip)

Originally I have 2 separate armatures for each tentacle. It does not export correctly from Blender t

[2018-09-29 03:22] kcoley opened #64 "gltf2usd fails if a texture tries to copy onto itself in the same directory"
Add logic to not overwrite a texture in the same directory if it is the same: https://github.com/kcoley/gltf2usd/issues/63

[2018-09-29 03:23] kcoley opened #65 "The tool currently cannot be launched from anywhere in command line without copying files"
Allow setting environment variables to make it easier to reference the tool in command line:
https://github.com/kcoley/gltf2usd/issues/63

[2018-09-29 03:25] kcoley opened #66 "find out why models with two armatures are not exporting correctly"
https://github.com/kcoley/gltf2usd/issues/63

[2018-09-29 05:06] #64 closed

[2018-09-29 05:07] kcoley commented on #65
Should work by setting the `PATH` and `PYTHONPATH` environment variables to the `Source` directory

[2018-09-29 05:07] #65 closed

[2018-09-29 17:09] kcoley commented on #63
Hi @enzyme69 do you have the original .blend file for the ori model?

[2018-10-01 04:32] kcoley commented on #63
@enzyme69 actually, I was able to create a similar model in Maya and can now reproduce the issue.  I think I know what is happening now and am working on a fix.  Thanks again for the reference model!

[2018-10-01 04:35] enzyme69 commented on #63
@kcoley Glad it is useful :) Your tools become defacto GLTF to USDZ conversion!
[two_tentacles_002.blend.zip](https://github.com/kcoley/gltf2usd/files/2432582/two_tentacles_002.blend.zip)

[2018-10-06 21:58] kcoley commented on #63
Hi @enzyme69 .  This took a while for me to get my copy of the Maya USD exporter to work, but now I know what I have to fix in the exporter to support multiple meshes sharing the same skeleton.  Unfortunately, it looks like multiple skeletons currently do not animate on iOS or Mac OS, as alluded to by @wave-electron in this issue: https://github.com/kcoley/gltf2usd/issues/49

The only way to view

[2018-10-07 09:45] wave-electron commented on #52
@kcoley I was trying this out today, and basically if you rotate more than 180 degrees in one direction it jumps a little. Is that because of gimbal lock when using euler rotations? i'm assuming quaternion rotations don't suffer the issue.

[2018-10-07 11:31] sayduck-daniel opened #68 "Model ends up without texture"
I'm trying to get a GLTF converted in USDZ but somehow, my model ends up without any texture. When I uncompress the .usdz the texture file is in there.

For some context, I installed last week USD by Pixar and gltf2usd on a Debian on AWS EC2. It worked, I was able to export and get a nice looking USDZ.

Then I proceed to do the same again but on an Amazon Linux 2 on AWS EC2 and after some first te

[2018-10-07 11:32] sayduck-daniel commented on #68
- This zip can be extracted and contains the GLTF files: [example_multi_meshes.zip](https://github.com/kcoley/gltf2usd/files/2453858/example_multi_meshes.zip)

- This one is the USDZ file renamed, just rename it back to .usdz: [example_multi_meshes-01.usdz.zip](https://github.com/kcoley/gltf2usd/files/2453859/example_multi_meshes-01.usdz.zip)

[2018-10-07 11:32] kcoley commented on #52
@wave-electron yes, I think it is gimbal lock related.  I am currently using the USD apis to directly convert the quaternions to euler angles.  I'm hoping an iOS update would support quaternions, but in the meantime, I may try to come up with a better algorithm to prevent the jumps.

[2018-10-07 11:48] kcoley commented on #68
Hi @sayduck-daniel .  This is definitely odd.  I am also seeing all files and references working when opening the usdz file.  I also locally converted the original glTF and it looks to work as expected.  Are you converting to usdz with `usdzip` or are you using `gltf2usd` to do this directly?

Also are you on the lastest master of `gltf2usd` and on Pixar's `USD`?

[2018-10-07 19:09] sayduck-daniel commented on #68
ok... I understand what is the problem...

It was no need for me to build 30h of source code for libraries needed by USD or for me to have to compile from source LLVM or CLANG.

The problem comes from how I call gltf2usd.

Initially, I was doing it with a full path:

    python /usr/local/gltf2usd/Source/gltf2usd.py -g ~/workspace/variant.gltf -o ~/workspace/variant.usdz

Then when I switch from D

[2018-10-07 19:15] kcoley commented on #68
Ah that makes sense. I think the relative paths would probably have to be handled within this tool. Feel free to file and issue here or make a PR if you think it’s a quick fix!

[2018-10-07 21:06] sayduck-daniel commented on #68
Could you add this to the README file? Just in case someone else false in this trap.

[2018-10-07 21:06] #68 closed

[2018-10-07 21:42] kcoley commented on #68
@sayduck-daniel actually I had a thought. The converter was able to transfer the textures so the issue may actually be with usdzip. I’ll try to reproduce when I get some time. But I’ll make a note to update the readme

[2018-10-08 01:03] wave-electron commented on #22
@kcoley Yes, that seems to be the case.

[2018-10-08 02:09] wave-electron opened #69 "Multiple transform keyframe animations not working anymore"
@kcoley I started using your new version since yesterday. It seems that multiple transform keyframe animations are not working in this new version. I have not looked into why just yet. But multiple keyframe transforms were definitely working in the previous version I have working examples which help me verified the issue. If you need a test file, let me know?

[2018-10-08 02:31] kcoley commented on #69
@wave-electron thanks, a sample model would be great

[2018-10-08 02:56] wave-electron commented on #69
@kcoley I created a quick example, 3 bouncing cubes on a surface. Both sets of files from different releases of gltf2usd.py.
[cubeBounceFiles.zip](https://github.com/kcoley/gltf2usd/files/2454612/cubeBounceFiles.zip)

[2018-10-08 08:32] wave-electron opened #70 "issue with iphone X"
@kcoley  Both my most recent usdz files posted on [www.fusionar.app](https://www.fusionar.app) with rotating cubes using he latest version and  --use-euler-rotation  handle - Are working ok with iphone 7,  ipad mini & ipad pro... in iOS... but are throwing an error when viewing with iphone X. I have not had a chance to check any other iOS devices yet. I have checked the problem on two different ip

[2018-10-08 12:47] kcoley commented on #70
Hi @wave-electron they seem to work on my iPhone X, though I am running iOS 12.1 possibly on beta. Are the iPhone X you are testing on are running 12.1?

[2018-10-08 13:10] wave-electron commented on #70
@kcoley This iPhone X isn’t on beta. Its currently running iOS 12.0. , my other test devices are on 12.1. So its a 12.0 issue!

Ok, I’ll close this off.

[2018-10-08 15:47] MrDChristop opened #71 "Support non ascii characters in texture file names"
Hi
I am having a gltf file with swedish UTF-8 texture file names like  LÖVÅS and so on.
The utility throws a UnicodeEncodeError: 'ascii' codec can't encode character u'\xd6' in position 19: ordinal not in range(128)
We could either support it or detect these characters and replace them with latin ones.
Here is the full error log.

[code]

Thanks
Dimi

[2018-10-08 15:49] MrDChristop commented on #71
When renaming the  textures and fixing the gltf file to have the new texture names that do not have ther UTF-8 characters the asset processes fine.

[2018-10-08 16:14] kcoley commented on #71
@MrDChristop thanks for flagging this. I can see if we can check for Unicode characters and see if USD supports it. Otherwise we can go down the renaming route.

[2018-10-08 23:59] wave-electron commented on #69
@kcoley I was just having a quick look at your gltf2usd.py master... in relation to this issue. I checked the usda file and it only seems to be building the first animation sequence for 1 cube out of 3 being animated.

In your script gltf2usd.py at line 440. You've have the following in
[code]
From what I can determine from the comment and setting animation = animations[0] you're only looping over

[2018-10-09 03:00] kcoley commented on #69
@wave-electron yeah that is right.  I'll push a fix for this

[2018-10-09 03:02] #69 closed

[2018-10-09 03:43] kcoley commented on #71
@MrDChristop do you have a sample model?

[2018-10-09 05:24] wave-electron opened #73 "Scale wrong - when using keyframes in GLTF file"
@kcoley I'm currently chasing another bug relating to scaling after adding keyframes to the GLTF. What you may not have picked up on the cubeBounce example I posted yesterday. The floor scale was not correct relative to the 3 cubes for the usdz version (that was because it was not key-framed).

So in a nutshell, whenever you keyframe a mesh, that key-framed mesh changes its scale, and it is not co

[2018-10-09 05:29] wave-electron commented on #73
@kcoley Just to be clear. This is how the scene is constructed flat hierarchy in Cheetah 3D. In the first file, I have no key-framing against any of the mesh, in the second file I keyframe each mesh, but don't actually move the mesh. I merely keyframe the start and end over a 4 second period. I purely studying the effect of no keyframes versus keyframes. Does that make sense?

<img width="243" alt

[2018-10-09 05:37] wave-electron commented on #73
@kcoley
This is what the preview in usdz looks like, the file has no keyframing and its scale exactly the same way as the GLTF file.

![img_1813](https://user-images.githubusercontent.com/16273780/46648549-517c9780-cbe1-11e8-8803-c3cdf455c752.jpg)

After just keyframing each mesh of the GLTF file, they all become spread apart by a factor of something. They are so small the cubes and floor you can

[2018-10-09 05:52] wave-electron opened #74 "scaling different when using keyframes"
@kcoley There is an issue with scaling when you add keyframes to the GLTF file. The GLTF looks fine, but the conversion to usdz is out of whack.  Sticking with the same sample cubeBounce. I have pair again, one with no keyframing at all. The other with a keyframe on each separate mesh. Its a flat hierachy, but it makes no difference issue still happens either way.  I suspect the scaling is not app

[2018-10-09 05:54] wave-electron commented on #74
Sorry I created a duplicate

[2018-10-09 05:54] #74 closed

[2018-10-09 06:01] wave-electron commented on #73
@kcoley Ok, I just manually edited the usda file with keyframing and removed everything related to scaling in the timeSamples  and it fixed the scaling issue. Not surprising I know, but I just wanted to confirm that scaling is the culprit.

[code]

[cubeBounce_with_keyframing_edited.usda.txt](https://github.com/kcoley/gltf2usd/files/2459009/cubeBounce_with_keyframing_edited.usda.txt)

[2018-10-09 07:04] wave-electron opened #75 "when using handle --use-euler-rotation Y-up flips to Z+ axis"
@kcoley When using the --use-euler-rotation handle the Y-Up flips to Z+ axis. I've included the input GLTF for with and without euler handle.

[using_euler_Y-up-Flips+Z.zip](https://github.com/kcoley/gltf2usd/files/2459210/using_euler_Y-up-Flips%2BZ.zip)

[2018-10-09 07:12] wave-electron opened #76 "mesh under the root mesh needs to be scaled to (1,1,1) for scaling to be correct"
@kcoley I've also picked up that when you have a mesh under the root mesh hierarchy, if it doesn't have a 1,1,1 scale its won't correctly scale relative to the root mesh.  To fix this I scale the root to (1,1,1) and all my nested meshes to a (1,1,1) as a workaround. Usually a pain in the but if you forget to do it much pain later!

BTW, the  GLTF input file is scaled correctly in the sandbox, so i

[2018-10-09 08:27] MrDChristop commented on #71
[Utf8TestModel.zip](https://github.com/kcoley/gltf2usd/files/2459502/Utf8TestModel.zip)
Sure here you go.

[2018-10-09 10:38] wave-electron commented on #76
Thankyou for those suggestion.

I’ll reproduce some test files, and post them for further analysis. :)

[2018-10-09 22:54] wave-electron commented on #76
@MrDChristop @kcoley It took me sometime trying to reproduce these gltf/usd test files. It's also a tricky issue to fix, which is why I thought it was important to flag it in the first place.

This is how the input GLTF file (previews in https://sandbox.babylonjs.com) which matches the original scene in Blender.

<img width="400" alt="gltf" src="https://user-images.githubusercontent.com/16273780/4

[2018-10-10 00:28] kcoley commented on #76
@wave-electron thanks for flagging this. At first I thought it was related to a transform as well as animated transforms appending to each other, so I tried removing all transform operations which worked for the cubes.

But that led to the plane being problematic. I’m not sure if it is an issue with the USD decompose transform code that I am using to decompose a transform matrix into individual tr

[2018-10-10 00:31] kcoley commented on #75
@wave-electron I see. I need to find out what is causing the jittering to occur. It could be an issue with my interpolation code in Animation. As for the rotation, I saw an answer posted in the USD forums that might provide another workaround. Another thought would be to use animated transform matrices for rotation and see if that works per key frame

[2018-10-10 00:32] kcoley commented on #73
I think this is related to https://github.com/kcoley/gltf2usd/issues/76 as well

[2018-10-10 00:33] kcoley commented on #71
@MrDChristop thanks, I have a potential fix, but I’ll run it against your model when I have access to a machine.

[2018-10-10 10:45] MrDChristop commented on #71
You can send me your fix and i can test it for you.

[2018-10-10 16:39] kcoley commented on #71
@MrDChristop thanks! I made a PR fix for this.  Feel free to test it out and let me know if this works: https://github.com/kcoley/gltf2usd/pull/77

[2018-10-11 12:39] dbathily opened #78 "Error when using with docker-usd"
Hi,

When I use your tool with docker-usd (`usd-docker/usd:0.8.1-centos7`) I have this error:

[code]

I don't have this with the prebuilt Apple use distribution. An incompatibility with docker-usd?

Thank you for your job

[2018-10-11 13:07] dbathily opened #79 "No animations"
Hi,

I don't know il it's a bug, but I don't have animations exported in the usd. I attached a gltf which you can try to convert.

[Archive.zip](https://github.com/kcoley/gltf2usd/files/2469005/Archive.zip)

[2018-10-11 14:51] sayduck-daniel opened #80 "got multiple values for keyword argument 'arkit'"
Just installed this on AWS EC2 instance and I get this:

[code]

Any idea from where this could come?

I'm building USD like this:

    $ python /usr/local/src/USD/build_scripts/build_usd.py /usr/local/USD --python --no-imaging --no-usdview

[2018-10-11 15:10] kcoley commented on #80
Hi @sayduck-daniel. This looks like an API change in the latest USD update for ‘UsdUtils.ComplianceChecker’. We would have to add a check to see which version of USD is used and switch to the new syntax.

[2018-10-11 15:14] kcoley commented on #78
Hi @dbathily , do you know which version of USD the docker image is using? gltf2usd was built against v18.09 which added skeletal animation support.

[2018-10-11 15:30] dbathily commented on #78
According to the code source [https://github.com/AnimalLogic/docker-usd/blob/70e71d9e6101fdd10fe9a43c82f4d30eb0c4f5a7/linux/centos7/usd/Dockerfile#L9](https://github.com/AnimalLogic/docker-usd/blob/70e71d9e6101fdd10fe9a43c82f4d30eb0c4f5a7/linux/centos7/usd/Dockerfile#L9) it's `18.09`

[2018-10-11 15:31] sayduck-daniel commented on #80
I figured this out as soon as I posted this issue ^^

They released v18.11 2 days ago. I installed from https://github.com/PixarAnimationStudios/USD/archive/v18.09.tar.gz and it works

[2018-10-11 15:48] dbathily commented on #78
@kcoley I think you are right. In fact he just merged the "18.09" branch. I'm rebuilding the container

[2018-10-11 15:48] #78 closed

[2018-10-12 02:31] kcoley commented on #71
I went ahead and merged the change.  Feel free to reopen if the issue comes up again

[2018-10-12 06:52] kcoley commented on #80
I made an update which should now work for v18.11 too: https://github.com/kcoley/gltf2usd/commit/63bad7f65714593b00cf08bd84738e8f0942ce3b

[2018-10-12 06:52] #80 closed

[2018-10-12 06:53] kcoley commented on #79
Hi @dbathily , I am able to repro this issue.  I'll look into a fix.

[2018-10-12 07:15] kcoley commented on #76
@wave-electron I think I understand what is happening here.  The transform node is getting applied to the keyframed positions, which is causing the cubes to get an additional transform operation.  Also, quaternion rotations are being ignored, so is causing some confusion in the final positions.

A potential solution I will test is to have all animation keyframes represented as transformation matri

[2018-10-12 11:48] MrDChristop opened #81 "Versioning"
I think with all that changes its time to introduce versioning.
Put in somewhere a version number and please add a changelog text document.

Thanks

[2018-10-12 12:30] MrDChristop commented on #71
I also found out that if you want to use the usdz model for ARQuicklook in IOS for example on a website with the "ar" tag, so it can work on ios safari browsers in AR,  you have to remove the non ascii characters.
My webhost for example was not able to load a usdz model with these characters.
LYCKSELE_LÖVÅS
Which are the same characters used in the test model i send you.
Please either consider rep

[2018-10-12 14:15] kcoley commented on #71
@MrDChristop I was able to convert your model on Mac OS, though I did modify the texture name in the glTF file since one character was different from the texture name on disk:
[sdf_vray_utf8.usdz.zip](https://github.com/kcoley/gltf2usd/files/2473368/sdf_vray_utf8.usdz.zip)
I changed `baked_LYCKSELE_LÖVÅS_1_diffuse_crate_1.jpg` to `baked_LYCKSELE_LôVèS_1_diffuse_crate_1.jpg`

But if it does not wor

[2018-10-12 14:16] kcoley commented on #81
@MrDChristop I agree, this is a good idea

[2018-10-12 14:34] MrDChristop commented on #71
I use windows.  The usdz file you send does not load the texture on windows.  usdcat the usdc file shows that it did not keep the utf8 non ascii characters.
![image](https://user-images.githubusercontent.com/26302806/46875440-64db6d00-ce44-11e8-8f49-3c5ac746a1b1.png)

You should not have to modify anything the texture file has the same name in the gltf file as on disk on windows.
![image](https://

[2018-10-12 14:41] kcoley commented on #71
@MrDChristop very interesting.  So it seems the behavior with non ascii files are different on Mac OS and Windows.

I will try to do an ascii replacement, though the challenge is finding a way for Python to locate the texture file on disk based on the name in the glTF file that works on all OS. For instance, on Mac OS, it seems to map `Å` to `è`.  I am not sure of the behavior on Linux as well.  I

[2018-10-12 18:45] wave-electron commented on #81
@MrDChristop @kcoley I was thinking that myself. It’s a good idea.

[2018-10-15 17:02] kcoley commented on #71
@MrDChristop I just merged another drop to master which now renames the unicode file to ascii.  Feel free to give that a try.  I had to implement this on Windows since Mac OS changes the filename of the texture on disk.

[2018-10-15 17:03] kcoley commented on #81
Just merged versioning support

[2018-10-15 17:03] #81 closed

[2018-10-15 17:05] kcoley commented on #68
@sayduck-daniel I just merged a change to support relative paths in the generated usdz file.  I basically change to the directory of the usdc file and switch all paths to relative so `CreateNewUsdzPackage` works as expected.  Feel free to give this a try.

[2018-10-15 17:06] kcoley commented on #63
@enzyme69 I did some reorganization of the project in the lastest merge, so now you just need `gltf2usd.py`, `__init__.py`, and the `_usdz` folder.  Hopefully that makes things easier to move around.

[2018-10-15 17:33] #71 closed

[2018-10-16 10:33] sayduck-daniel commented on #68
Thanks, I'm gonna try o^when we next deploy the latest of USD and your code. I let you know ASAP

[2018-10-19 11:41] MrDChristop commented on #68
Usdzip can not handle relative paths, i already filed a report on USD forum
https://groups.google.com/forum/#!topic/usd-interest/jos8g0t8w00

I am not sure if gltf2usd should support this hackfix.
I also do this manually in my code, change to the directory of where the usd has to be created.

[2018-10-19 11:51] MrDChristop commented on #68
As foretold this line which used to work now fails
gltf2usd.py -g sdf_vray_utf8.gltf -o das.usdz
[code]

This line has to be given now in the latest version instead
gltf2usd.py -g sdf_vray_utf8.gltf -o ./das.usdz

So you MUST specify a directory now.... We exchanged one evil with another..

[2018-10-21 19:05] kcoley commented on #76
@wave-electron I just merged a fix for this.  It had to do with applying both the animation positions and the node positions from glTF to the same xform, which causes transform issues in usd.

[2018-10-21 19:05] #76 closed

[2018-10-21 19:08] kcoley commented on #73
@wave-electron just merged a fix for this https://github.com/kcoley/gltf2usd/pull/83

[2018-10-21 19:08] #73 closed

[2018-10-21 19:11] kcoley commented on #68
@MrDChristop thanks for flagging the issue.  I made a recent change that converts the usd file path to absolute path for now.

[2018-10-21 19:16] kcoley commented on #25
@enzyme69 @ox I merged a fix for unicode characters a few days ago.  Unicode characters now get converted to ascii.  Though this particular model takes a long time to convert.

[2018-10-21 19:16] #25 closed

[2018-10-21 19:39] kcoley commented on #79
@dbathily looks like this is related to the joint path name issue.  I was able to patch your file to get the animation to work:
[ArchivePatched.zip](https://github.com/kcoley/gltf2usd/files/2499547/ArchivePatched.zip)

Until I push a fix, a short term patch is to remove all paths before the joint name:

<img width="1058" alt="screen shot 2018-10-21 at 12 37 37 pm" src="https://user-images.githubus

[2018-10-22 07:42] MrDChristop commented on #68
Hi. Where is the commit for this?

[2018-10-22 13:01] kcoley commented on #68
@MrDChristop the commit is here at the bottom of gltf2usd.py: https://github.com/kcoley/gltf2usd/pull/83/files

[2018-10-24 08:11] dbathily commented on #79
Ok @kcoley We will do this.

Looking forward to your fix. Thank you

[2018-10-24 14:05] sayduck-daniel opened #85 "IOError: cannot write mode RGBA as JPEG"
I'm getting this error when I try to create a USDZ.

The asset is a .jpg

Any idea why it does that sudently?

[code]

[2018-10-24 14:20] sayduck-daniel commented on #85
The image I'm using is [this one](http://metapicz.com/#landing?imgsrc=https%3A%2F%2Fs3.us-east-1.amazonaws.com%2Fsayduck-staging%2Fa%2Fshared_assets%2Ffiles%2F000%2F000%2F437%2Fa4adb4d304d63630a44fd2ee968105c752e8b42eb91babeb42c3fc8bd79f9710-source_jpg.jpg)

As you can see the EXIF says it is on a RGB channel.

I saw that you did an update on this file to force RGB for jpeg. Now it's working.

[2018-10-24 14:20] #85 closed

[2018-10-26 09:28] sayduck-daniel opened #86 "AttributeError: 'OcclusionTexture' object has no attribute 'get_strength'"
I get a new errror when trying to convert an gltf to usd.

Any idea where it could come from?

[code]

[2018-10-26 14:28] kcoley commented on #86
@sayduck-daniel thanks for flagging.  I'll push a fix asap

[2018-10-26 14:29] #86 closed

[2018-10-26 14:29] kcoley commented on #86
@sayduck-daniel should be fixed now

[2018-10-27 12:30] sayduck-daniel commented on #86
Awesome, gonna try it now.

[2018-10-27 13:07] sayduck-daniel commented on #86
Now I can get an USDZ but this USDZ can't be read on my iPhone.

[2018-10-27 15:00] sayduck-daniel commented on #86
FYI: when I take that gtlf, remove the `metallicRoughnessTexture`, remove `occlusionTexture`, convert and send to my phone, then it works again

[2018-10-27 15:15] kcoley commented on #86
@sayduck-daniel do you have a sample model?  I wasn't able to reproduce locally with this quick model I made:
[testORM.zip](https://github.com/kcoley/gltf2usd/files/2521917/testORM.zip)

[2018-10-27 17:33] sayduck-daniel commented on #86
I could send it to you privately, do you have an email or somewhere I could send it to you?

[2018-10-28 06:47] kcoley commented on #86
@sayduck-daniel sure you can direct message me on Twitter. My username is kaceylefty

[2018-10-28 09:37] sayduck-daniel commented on #86
@kcoley seems like I can't DM you if you are not following me as well. https://twitter.com/IsTheRealDan

[2018-10-28 11:40] ShantanuSriv opened #88 "AlphaMode parameter is missing in the Material class"
https://github.com/kcoley/gltf2usd/blob/2fb00ed730b8a87206551ff67cd75682d8276ad4/Source/_gltf2usd/gltf2/Material.py#L104

I was going through the code and couldn't find anything which handles alphaMode parameter of material class -- for handling transparency nature of the asset? I wanted to know whether this is purposely left out because of no API support or did @kcoley miss adding the support for

[2018-10-28 14:04] kcoley commented on #86
@sayduck-daniel I see, just followed you.

[2018-10-28 14:09] gopikrishnachaganti commented on #88
@kcoley i also see transparency is missing and scale values are literally high when converting gltf to usda. Can you please look into this asap?

[2018-10-28 14:38] kcoley commented on #88
@ShantanuSriv @gopikrishnachaganti I didn't see an alphaMode option in the UsdPreviewSurface API spec, so I left it out: https://graphics.pixar.com/usd/docs/UsdPreviewSurface-Proposal.html

There is a material opacity option, which I set using the base color factor, if a base color texture with alpha isn't set in `usd_material`: https://github.com/kcoley/gltf2usd/blob/master/Source/_gltf2usd/usd_m

[2018-10-28 15:49] kcoley commented on #88
@ShantanuSriv @gopikrishnachaganti I pushed a fix for opacity with base color factor that I mentioned previously.  I also tested the alpha modes based on `Material_07` and the factors seem to export as expected: https://github.com/KhronosGroup/glTF-Asset-Generator/tree/master/Output/Material

Though I am not sure if ArQuicklook is respecting the scale factors of the textures based on looking at th

[2018-10-29 06:18] ShantanuSriv commented on #88
@kcoley Thanks a lot for such a quick response! I will look into the new changes and test it.

[2018-10-29 18:18] sayduck-daniel commented on #86
While trying to re produce the bug, I just realised the reason. The USDZ was created correctly (that explains why on mac it's previewable) but the maps were too heavy (4096x4096 maps for the ORM for 1.6 MB).

We are now converting all our maps to 2048 x 2048 jpegs.

[2018-11-02 09:40] ShantanuSriv commented on #88
I have tried converting the files from gltf to usdz. Even after the changes of the latest patch, I see the transparency issues. I have a question to ask: is this the issue with ARQuickLook or is there some edge cases that are not handled properly during the conversion. Plus, I have tried converting obj to usdz -- from another tool -- but the same transparency issues. So, what I have concluded that

[2018-11-02 14:43] kcoley commented on #88
@ShantanuSriv hmm, it could be an issue with ArQuickLook.  Apple does not have any sample usdz models with transparency on their gallery: https://developer.apple.com/arkit/gallery/

I noticed that if there is alpha in the base color texture, it gets used in ArQuickLook even when set to not be used in the UsdPreviewSurface in the usdz file.  I could put in a check for that and overwrite the transpa

[2018-11-02 17:23] spiderworm opened #91 "useSpecularWorkflow should be int, not bool"
https://github.com/kcoley/gltf2usd/blob/a155617b86603df643f102ea510d2e3631c663d7/Source/_gltf2usd/usd_material.py#L290

https://graphics.pixar.com/usd/docs/UsdPreviewSurface-Proposal.html

Setting it incorrectly causes errors in usdview:

`Failed to compile shader (GL_FRAGMENT_SHADER): 0(790) : error C7011: implicit cast from "bool" to "int"`

[2018-11-02 17:44] spiderworm commented on #91
#92

[2018-11-02 18:56] kcoley commented on #91
Thanks for the PR @spiderworm!

[2018-11-02 18:56] #91 closed

[2018-11-03 06:38] kcoley commented on #88
@ShantanuSriv I just added support for alpha mode in the Material class (https://github.com/kcoley/gltf2usd/pull/93).

Note that Alpha Mask is not yet supported in USD so it will default to Alpha Blend.  If that doesn't fix your issue, feel free to reopen.

[2018-11-03 06:38] #88 closed

[2018-11-03 06:44] kcoley commented on #38
I recently merged a change to remove alpha channel based on alpha mode: https://github.com/kcoley/gltf2usd/pull/93

[2018-11-03 06:44] #38 closed

[2018-11-03 06:45] kcoley commented on #58
Recently merged: https://github.com/kcoley/gltf2usd/pull/93

[2018-11-03 06:45] #58 closed

[2018-11-04 06:30] kcoley commented on #79
@dbathily sorry for the delay on this, but just merged a fix (https://github.com/kcoley/gltf2usd/pull/94).  Feel free to reopen this if the issue comes up again.

[2018-11-04 06:30] #79 closed

[2018-11-04 06:30] kcoley commented on #22
Just merged a fix for this (https://github.com/kcoley/gltf2usd/pull/94)

[2018-11-04 06:30] #22 closed

[2018-11-05 10:32] ShantanuSriv opened #95 "Transparency Issue when converting glTF to usdz #88"
Reopening as transparency issue is still not handled. #88

[2018-11-05 13:54] kcoley commented on #95
Hi @ShantanuSriv do you have a sample glTF model I can use for reference?

[2018-11-06 05:33] ShantanuSriv commented on #95
@kcoley  No, I can't share the glTF model because it's a private proprietary. I can share the screenshots only.

Please tell me if I can help you in any way possible.

[2018-11-06 05:40] kcoley commented on #95
@ShantanuSriv no worries, I have a few questions then:

1. In the glTF files, are any of the base color textures shared across multiple materials which have different blend modes?  For example, one material uses opaque, while the other uses alpha blend, but the exact same base color texture?

2. Are the glTF models using specular glossiness or metallic roughness?

3.  Do the glTF models use alpha

[2018-11-06 06:15] ShantanuSriv commented on #95
Yes, we have this case in some of the glTF files

Metallic roughness

No

 No

**Some of the answers may vary on the size of the sample of glTF models. But as of now, in my sample set, I have these verified.**

[2018-11-06 06:17] kcoley commented on #95
@ShantanuSriv gotcha.  I'm guessing case 1 may be a possible issue here.  I can make a change to duplicate the texture without alpha if it is shared across two different materials with different blend modes to see if that helps.

[2018-11-07 06:42] kcoley commented on #95
@ShantanuSriv I pushed another update to master: https://github.com/kcoley/gltf2usd/pull/96

Does this help or is the problem still persisting?

[2018-11-07 16:59] sayduck-daniel opened #97 "IndexError: tuple index out of range"
I started getting:

[code]

This is the GLTF failing:
[code]

Any idea from where this could come?

[2018-11-07 18:04] sayduck-daniel commented on #97
Could it be because of the asset https://s3.us-east-1.amazonaws.com/sayduck-production/a/shared_assets/files/000/010/829/fda8dd8cb6880ec0e153aa6bc06be273e0a2728fcc1c4e5176471964e10541c1-optimized_texture_jpg_2048.jpg ?

It seems to be a grayscale image.

[2018-11-07 19:31] kcoley commented on #97
Hi @sayduck-daniel , yeah seems to be the case.  Is this texture being used as a normal map?  I believe glTF expects it to be an RGB texture, similar to this: https://github.com/KhronosGroup/glTF-Asset-Generator/blob/master/Output/Material/Textures/Normal_Plane.png

[2018-11-07 20:13] sayduck-daniel commented on #97
Yes, it's a normal map. But it seems greyscale normal maps work with gltf.

Do you think it would be out of the scope of this project to implement a safeguard in case a texture is in grayscale perhaps?

We are importing models from another system and it happens we used a lot of maps in greyscale.

[2018-11-08 04:34] kcoley commented on #97
@sayduck-daniel sure we could do that, have the grayscale values duplicated to the RGB channels

[2018-11-08 05:10] kcoley commented on #97
@sayduck-daniel actually, duplicating the grayscale isn't really a normal map and would yield the wrong results.  This would probably involve generating a new normal map from a sobel filter, which might be better handled with a separate tool. I'll look into how difficult this might be or if there is already a tool out there.

[2018-11-08 08:29] sayduck-daniel commented on #97
Yes that is correct.

One thing in favor of having the convert in there for me is the fact sometimes an user uploads a RGB map and somehow this map gets converted to grayscale by ImageMagick in our side.

ImageMagick seems to take the decision that if there is nothing on 2 channels it should be set to grayscale.

I tried to counter this behavior but so far nothing conclusive. On top of that, glTF

[2018-11-08 10:42] sayduck-daniel commented on #97
_If someone stumbles upon this problem there is what we did:_

After further investigation, we realised that ImageMagick is smart enough to automatically convert an image to grayscale if the image is an actual grayscale:

[code]

This will result in a grayscale if it detects only grey!!!

To avoid that, we are now using only RGB and use the parameters `-type truecolor -colorspace RGB` for JPG and

[2018-11-09 06:34] kcoley commented on #97
@sayduck-daniel  I merged a change for this to copy the single channel grayscale to the RGB channels: https://github.com/kcoley/gltf2usd/pull/98

Feel free to re-open if this still causes issues

[2018-11-09 06:34] #97 closed

[2018-11-09 06:35] kcoley commented on #95
@ShantanuSriv closing for now, but feel free to reopen if the issue is still coming up

[2018-11-09 06:35] #95 closed

[2018-11-09 10:00] gopikrishnachaganti opened #99 "Reuse textures from GLTF while generating USDZ"
@kcoley observed that the textures(png/jpg) are regenerated while building usdc/usdz. saw some specific things like RGBA and Occlusion textures generated. Can we reuse the existing textures which can commonly work for GLTF and USDC(USDZ) as well? i mean not generating any new textures separately. Can you please clarify?

[2018-11-10 06:58] wave-electron opened #100 "Transform Animations not working in latest release"
@kcoley  In your latest release - transform animations no longer seem to work. The cubeBounce I posted earlier is no longer working anymore (which you did have working in the Sept release... I also have other transform animations that no longer work.

I haven't been trying every version of the script  with each new commit, so can't pinpoint the time it was introduced. I just downloaded the latest

[2018-11-10 07:19] wave-electron commented on #100
It appears to have got broken again on the 22nd Oct after you did more work on the transform code, it was working on the 9th Oct after we worked out the script was not working for multiple transforms and you fixed the for loop so it handled more than 1.

[2018-11-10 14:51] kcoley commented on #100
Hi @wave-electron !
I made a change to the animation export on October 21 to only use the first animation group in a glTF file.  Problems occurred if multiple animation groups in the glTF file try to animate the same animation channels of a mesh, which causes the export to fail.  If you drag your original glTF to the Babylon.js glTF viewer, you will see the same behavior which is currently exporte

[2018-11-10 14:51] #100 closed

[2018-11-10 15:09] kcoley commented on #99
Hi @gopikrishnachaganti .  Currently textures are copied over from the source location to the output directory, unless the texture is already in the output directory.

Regeneration occurs when using Metallic Roughness textures, as the RGB channels would have to split into separate grayscale textures for ARQuicklook to work.  Also, if your source texture has alpha values but the glTF is set to opaq

[2018-11-11 00:08] wave-electron commented on #100
@kcoley  Good news, I don't have to change my workflow! I found a way to create a single NLA track from multiple transform animations like the bouncing cube without having to manually edit the GLTF file after an export!

Having this issue the past two days was a" blessing in disguise", as it has helped me better understand my own workflow and how the NLA editor works in Blender :)

[2018-11-11 00:09] kcoley commented on #100
@wave-electron great news!

[2018-11-11 07:33] gopikrishnachaganti commented on #99
@kcoley yeah, got it Kacey! the whole problem is, even though my textures (which are used by my gltf) are very less in size, the final USDZ is really big. it would be great if USDZ can reuse the same textures.  if this is not possible, can you please compress the textures (in png) while generating USDZ? or is there any way to generate USDZ from USDC with textures?

[2018-11-11 16:59] gopikrishnachaganti commented on #99
@kcoley here is what i am doing. creating usda with textures first, then compressing the textures without loosing the quality(lossless) and then converting usda into usdz using usdzip. this should be good.

[2018-11-13 06:08] kcoley commented on #99
@gopikrishnachaganti I added an --optimize-textures option to gltf2usd which, when enabled, will attempt to reduce the texture size using PIL (https://pillow.readthedocs.io/en/4.1.x/handbook/image-file-formats.html#saving) at the expense of longer export time.

Would this work for you?

[2018-11-13 09:41] gopikrishnachaganti commented on #99
@kcoley thank you, will try & let you know asap.

[2018-11-15 11:01] enzyme69 opened #103 "No PIL or Pillow module? Strange."
Hello I am back, I downloaded the latest gltf2usd but when running I am getting this error. I am sure I have PIL module. This is so weird.

[code]

[2018-11-15 11:11] enzyme69 commented on #103
If I use Python 3:
[code]

[2018-11-15 11:13] enzyme69 commented on #103
192-168-1-7:USDZ_TotoroSimple jimmygunawan$ pip install pillow
Requirement already satisfied: pillow in /usr/local/lib/python2.7/site-packages (5.3.0)
192-168-1-7:USDZ_TotoroSimple jimmygunawan$ python gltf2usd.py
Traceback (most recent call last):
  File "gltf2usd.py", line 16, in <module>
    from PIL import Image
ImportError: No module named PIL
192-168-1-7:USDZ_TotoroSimple jimmygunawan$

...

[2018-11-15 11:28] sayduck-daniel opened #104 "Support of KHR_texture_transform"
Do you have any idea when you would support [KHR_texture_transform](https://github.com/KhronosGroup/glTF/blob/master/extensions/2.0/Khronos/KHR_texture_transform/README.md) and how to do so with USD?

[2018-11-15 12:19] enzyme69 commented on #103
If I use virtualenv, and inside Python running: from pxr import Usd it crashes Python......
If I am outside running python, running: from pixr import Usd -- it works! But It does not load PIL...

[2018-11-15 12:19] enzyme69 commented on #103
I am using Apple's Pixar USD Bundle.

[2018-11-15 12:31] enzyme69 commented on #103
I have to do this:

sudo nano ~/.bash_profile

export PATH=$PATH:$HOME/USDPython/USD
export PYTHONPATH=$PYTHONPATH:$HOME/USDPython/USD
export PYTHONPATH=$PYTHONPATH:/usr/local/lib/python2.7/site-packages

It's so weird, anyhow, it's still pretty annoying that virtualenv one crashing Python, but the main one works. And I also made a new Account cleanly installing Apple's Pixar USD build, and then I

[2018-11-15 12:31] #103 closed

[2018-11-15 13:17] enzyme69 commented on #103
Just for my future me or anyone with such issue:
- you have multiple pythons...
- Mac comes with its own Python 2.7
https://stackoverflow.com/questions/122327/how-do-i-find-the-location-of-my-python-site-packages-directory
- pip install does not always install to the correct site-packages
- do: which python to check which python is running

<img width="873" alt="screen shot 2018-11-16 at 12 15 47

[2018-11-15 14:18] enzyme69 commented on #50
@kcoley Yes it works! Finally confirmed. Thanks for quaternion rotation thing.

[2018-11-15 15:02] gopikrishnachaganti commented on #99
@kcoley also can we try with compress_level instead of optimize with PIL? looks like 0 to 9 compression is there with compress_level.

[2018-11-15 19:01] wave-electron commented on #99
@gopikrishnachaganti  @kcoley  Yes. What you can do is, use xcrun usdz_converter after creating a usda file with the gltf2usd script

But if you have multiple meshes you first find out the mesh names to know which materials apply to which part of the model.

You can this manually by running -v  (verbose) handle and looking at the material assignments in the file usda.

`xcrun usdz_converter myfile

[2018-11-16 12:47] sayduck-daniel opened #105 "Support tiling textures for USDZ"
Find a way to wether:
- Tile before generation
- Implement in gltf2usd
- Implement in processing server

[2018-11-16 12:48] sayduck-daniel opened #106 "Require glTF extension only when needed"

[2018-11-19 09:57] ShantanuSriv opened #107 "Black Shadow Visible When Viewed from Some Angle"
@kcoley When viewing the usdz model from some angles, it shows black shadow at the bottom but none of those are actually present in the glTF model.

Here is one example of it:
glTF Model:

<img width="711" alt="screen shot 2018-11-19 at 3 18 27 pm" src="https://user-images.githubusercontent.com/29276040/48699419-68b29a00-ec0f-11e8-9247-d51e1c8d6495.png">

converted-usdz Model:

![image uploaded fr

[2018-11-19 13:37] sayduck-daniel commented on #106
Sorry, somehow I created this issue on the wrong repo. Deeply sorry

[2018-11-19 13:37] #106 closed

[2018-11-19 13:38] sayduck-daniel commented on #105
Sorry, wrong repo, no Idea how this happens. Sorry again

[2018-11-19 13:38] #105 closed

[2018-11-20 00:47] enzyme69 opened #108 "Vertex Color GLTF"
Does the converter already respect the Vertex Color and RGBA? Or it's currently USDZ limitation and not yet possible?

I am testing a 3D Mesh from scan, it contains only PLY Vertex Color no UV. The ThreeJS can see the vertex color and display the result ok, then I exported as GLTF, but then when converting I am getting an error:

[code]

Thanks!

[2018-11-20 10:10] ShantanuSriv commented on #107
@kcoley do you have any fix for this?

[2018-11-21 00:09] kcoley commented on #108
Hi @enzyme69. Vertex colors are supported on export with this tool, though perhaps iOS is either expecting the primvar to be named a certain way or it is not supported somehow.  It’s interesting that you see it working on Mac OS though.

Yes double sided meshes should also work on export.

[2018-11-21 00:12] kcoley commented on #107
Hi @ShantanuSriv. The shadow generation happens in AR Quicklook on Apple’s side.  It gets mentioned in this keynote video:

https://developer.apple.com/videos/play/wwdc2018/603/

It looks to be incorrect based on your screenshot. Does it look bad when viewed in AR mode on a table or floor as well?

[2018-11-21 00:17] kcoley commented on #104
Hi @sayduck-daniel. (Sorry for the delay, I’ve currently traveling). I can add support for it next week when I return from traveling. I would expect it to map to the USDUVTexture spec:  https://graphics.pixar.com/usd/docs/UsdPreviewSurface-Proposal.html

[2018-11-21 05:29] ShantanuSriv commented on #107
@kcoley No, this is not a problem which I see in AR Quicklook only -- this is when I load the file in the normal viewer. Plus, this same issue is visible in AR Quicklook. So, it's not an issue which is specific to AR Quicklook.

I remember that a similar issue was showing up earlier too - #95

[2018-11-22 01:03] enzyme69 opened #109 "Auto Material PBR from GLTF to USDZ"
<img width="832" alt="screen shot 2018-11-22 at 12 01 42 pm" src="https://user-images.githubusercontent.com/3952687/48875674-6e49f300-ee4e-11e8-87a3-3a92b12849af.png">

Wondering what's the best way to properly setup the PBR Material, so that one does not need to dig inside the USDA and tweaking the material mapping manually?

When following Khronos Group PBR Principle Material, I don't see it tra

[2018-11-22 05:38] ShantanuSriv commented on #107
Mesh geometry
---------------

"meshes": [
    {
      "primitives": [
        {
          "attributes": {
            "POSITION": 1,
            "NORMAL": 2,
            "TEXCOORD_0": 3
          },
          "indices": 0,
          "mode": 4,
          "material": 0
        }
      ],
      "name": <some-name>
    }
  ],

Material
--------
"materials": [
    {
      "pbrMetallicRoughness": {

[2018-11-22 12:42] enzyme69 commented on #109
An interesting example is some downloadable 3D assets from Sketchfab, such as this "Porg":

https://sketchfab.com/models/d5902960a033459cb1966dd064f885d1

[code]

What could be the issue in here?

I wonder why with GLTF there is no proper standard or agreement even on PBR Material?

[2018-11-22 12:57] sayduck-daniel commented on #104
Hi @kcoley, no worries. Let me know you need something from me.

In [this zip](https://github.com/kcoley/gltf2usd/files/2608137/Archive.zip) you can find 2 cubes with the same texture:
- one tiled
- one not tiles

[2018-11-22 22:21] enzyme69 opened #110 "When node or object has stupid naming with bracket it failes to convert"
I have this BLEND files in which the objects uses stupid naming like node[2], material[4] and it's giving error 🤯

[2018-11-26 05:43] ShantanuSriv commented on #107
@kcoley do you have update on it?

[2018-11-26 11:23] ShantanuSriv commented on #107
The issue is resolved. It was a device specific issue.

[2018-11-26 11:23] #107 closed

[2018-11-26 19:33] kcoley commented on #107
Hi @ShantanuSriv just got back from vacation, but glad the issue is resolved

[2018-11-29 05:33] enzyme69 opened #111 "Simple Transform Animation(s) Does Not Work (Again) and Stuttering"
[anim_test_005.blend.zip](https://github.com/kcoley/gltf2usd/files/2627693/anim_test_005.blend.zip)
[USDZ_NoAnim.zip](https://github.com/kcoley/gltf2usd/files/2627694/USDZ_NoAnim.zip)

It's almost as if we are going back to zero, but maybe I did something wrong here.

So, in Blender I have 5 boxes, animated procedurally, just random wiggle translation XYZ, and all the animation is baked.

I export

[2018-11-29 05:43] enzyme69 commented on #100
@wave-electron @kcoley I think I might be going mad because the transformation animation is not working anymore https://github.com/kcoley/gltf2usd/issues/111

[2018-11-29 05:46] enzyme69 commented on #111
The strange thing is GLTF 2.0 validation when I am using online GLTF Viewer:

Code | Message | Pointer
-- | -- | --
EMPTY_ENTITY | Entity cannot be empty. | /animations/0/channels
EMPTY_ENTITY | Entity cannot be empty. | /animations/0/samplers

[2018-11-29 05:51] enzyme69 commented on #111
Oookk... I figured it out. I really need to bake every single frames and there should not be gap? I use Blender "Bake Action" and it's all good now!

Thanks!!

[2018-11-29 05:55] enzyme69 commented on #111
However, now the animation is stuttering and only 1 out of 5 boxes working, I checked using online GLTF anim viewer, and it seems ok, although I need to turn on the action manually.

[USDZ_WeirdAnimStutter.zip](https://github.com/kcoley/gltf2usd/files/2627746/USDZ_WeirdAnimStutter.zip)

[2018-11-29 05:57] enzyme69 commented on #109
Ok apparently with PBR Export, I think we can use the panel supplied by Khronos Group. Basically a matter of preparing Material, linking the Color, Roughness, Metallic, etc Map and then export. I supposed the Roughness and Metalness got created and separated automatically from RGB.

<img width="729" alt="screen shot 2018-11-29 at 4 56 19 pm" src="https://user-images.githubusercontent.com/3952687/4

[2018-11-29 05:58] gopikrishnachaganti commented on #99
USDZ needs metalness, roughness & occlusion textures in grayscale. when i compressed the textures they converted into indexed mode instead of grayscale. i changed those conversion mode. now it looks  good. but if the bin file is heavy, obviously usdc is getting heavier. closing this request for now. thanks @kcoley for your support.

[2018-11-29 05:58] enzyme69 commented on #108
Ok maybe Vertex Color will simply work in the future :)

[2018-11-29 07:52] kcoley commented on #111
Hi @enzyme69 .  I experimented with the fps by setting it to a smaller value like 10, to get a less stuttery result (--fps 10 ).  It might be related to sampling within the converter when converting to usdz and the animation interpolation on iOS/quicklook.

The converter currently only uses the first animation group in the glTF file.  If you were to load in this glTF viewer, you can pick which ani

[2018-11-29 07:54] kcoley commented on #110
Hi @enzyme69 , can you provide a sample blender file?

[2018-11-30 12:35] enzyme69 commented on #109
<img width="930" alt="screen shot 2018-11-30 at 11 33 07 pm" src="https://user-images.githubusercontent.com/3952687/49289634-7661fc80-f4f8-11e8-8557-f20568fc62fe.png">

Blender 2.8 currently Beta, actually has GLTF IO from KhronosGroup, still has bug, but it seems like for PBR it can export Normal, Albedo. Something still funky with Metalness and Roughness, not sure how GLTF 2 USDZ handles it, but

[2018-11-30 12:36] enzyme69 commented on #109
I am testing something here:
https://github.com/KhronosGroup/glTF-Blender-IO/issues/116

[2018-11-30 12:59] enzyme69 commented on #109
So far my solution seems to be to use gltf2usd.py to convert to USDA. And then I get 2 textures output for roughness and metalness, I can then fix that manually.

Haven't tried for multiple material it could be slightly more tedious having to do this manually.

Still curious how you guys handle PBR material export...

[2018-11-30 13:32] enzyme69 commented on #109
<img width="585" alt="screen shot 2018-12-01 at 12 31 39 am" src="https://user-images.githubusercontent.com/3952687/49292121-7c5bdb80-f500-11e8-9951-7323c50e54d1.png">

This setup, in Blender 2.8 is kind of a step in the right direction, still not sure where to plug Occlusion...

[2018-12-03 17:53] kcoley commented on #109
@enzyme69 gltf2usd can read the opacity properties of a glTF file and map them to usdz, though things like alpha mask are not yet supported in the usdz specification.

[2018-12-04 17:35] ShantanuSriv opened #112 "Blend Mode Not Getting Rendered Properly #95"
@kcoley Transparency issue is resolved to a great extent but there is one issue which I am not able to find a solution for -- I think the blend mode is not working properly.

Here is the glTF rendered file:
<img width="1072" alt="screen shot 2018-12-04 at 10 53 25 pm" src="https://user-images.githubusercontent.com/29276040/49460579-a6badb00-f817-11e8-8018-2e40e22366b4.png">

In the glTF rendered f

[2018-12-04 22:39] enzyme69 opened #113 "Strange Error Related to Color Texture"
I have tested different GLTF 2.0 exporter, I kept getting this error:

[code]

There is only one export by Daniel Stokes that seems to work.

Probably this is related to Image Textures RGBA or PBR: Roughness and Metalness should be grayscale? Not sure.

[2018-12-04 22:46] kcoley commented on #113
Thanks @enzyme69 for flagging!  I'll take a look at this later today.

[2018-12-04 22:53] kcoley commented on #112
Hi @ShantanuSriv.  The only thing I was able to confirm working with iOS was alpha blend, which I believe to be the only alpha mode currently supported in usdz specification.  I was not able to find anything about blend modes in the USD preview surface specification: https://graphics.pixar.com/usd/docs/UsdPreviewSurface-Proposal.html

I tested against these glTF models from the glTF-Asset-Generato

[2018-12-04 23:10] kcoley commented on #112
@ShantanuSriv also is the alpha value set to a very low value, if using alpha blending?

[2018-12-04 23:11] enzyme69 commented on #113
If you use Blender 2.8 Beta and their built in GLTF export, we also have same error.

[2018-12-05 00:54] enzyme69 commented on #113
And Google Poly GLTF also giving error:
https://poly.google.com/view/42Yqq-FuGfa

[2018-12-05 06:36] ShantanuSriv commented on #112
@kcoley

yes

[2018-12-05 06:42] ShantanuSriv commented on #112
@kcoley i have to base material and both of them use the same alpha value of 1 in baseColorFactor[3], having same baseColorTexture but one with alphaMode Blend and the other one with Opaque.

[2018-12-05 07:59] kcoley commented on #113
@enzyme69 just merged a fix for this: https://github.com/kcoley/gltf2usd/pull/114

Note that vertex color alpha currently is not supported

[2018-12-05 07:59] #113 closed

[2018-12-05 08:01] kcoley commented on #112
@ShantanuSriv gotcha.  As a test, can you remove the "Blend" line from the glTF file and try converting to see if the result is the same when converting to usd?

[2018-12-05 08:10] ShantanuSriv commented on #112
@kcoley sure, I will try that and see if it helps.

[2018-12-05 10:02] enzyme69 opened #115 "Different Animation Interpolations and Funky Results"
Got this example from DonMcCurry: 4 types of interpolations:
[Archive.zip](https://github.com/kcoley/gltf2usd/files/2648232/Archive.zip)

When converted to USDZ:
![raggedneararabianhorse-max-1mb](https://user-images.githubusercontent.com/3952687/49505904-d37ef900-f8d0-11e8-8ad9-4fe6e4006f03.gif)

Surprisingly Stepped Keys works!

Error message:
_**cubic spline interpolation not yet implemented!  D

[2018-12-05 10:10] enzyme69 commented on #115
Actually "stepped keys" is still not exactly stepped in USDZ. But as GLTF, it is really stepped. Maybe keying visibility is still not possible. I want to have 3D animation that works like GIF.

[2018-12-05 12:34] enzyme69 opened #116 "USDZ animation works on MacOS but not on iOS"
[puppet_share.zip](https://github.com/kcoley/gltf2usd/files/2648788/puppet_share.zip)

It's driving me mad when USDZ works on MacOS, but simply crashes on iOS without any error handling,...

The scene is basically some kind of flat puppets and everything is simple:

<img width="615" alt="screen shot 2018-12-05 at 11 33 15 pm" src="https://user-images.githubusercontent.com/3952687/49513784-37f88300

[2018-12-06 05:41] kcoley commented on #115
@enzyme69 I think the issue is because the source glTF file is using cubic spline interpolation, but that is not supported in usdz.  Technically, it only supports linear animation.  I bake the animation to support stepped animations, though I would have to add some additional logic to try baking cubic spline animations.  Though, since usdz is using linear animation, there may be some "jumping" beh

[2018-12-06 05:42] kcoley opened #117 "bake out cubic spline animation key frames"
Related to this issue: https://github.com/kcoley/gltf2usd/issues/115

[2018-12-06 05:43] kcoley commented on #112
@ShantanuSriv interesting, do you know what the alpha values are in the texture?

[2018-12-06 09:31] enzyme69 commented on #116
Ok I will try doing that. As for iOS 12.1.1, it's still crashing.

Not sure if this related to previous thread on: not to use multiple color objects or something. Maybe not.

[2018-12-06 09:39] enzyme69 commented on #116
I tried joining all the meshes into a single mesh, hoping that a single mesh + a single bone chain would do it, but when converting the GLTF, I am getting this error:

[code]

[2018-12-06 09:45] enzyme69 commented on #116
The issue seems to be resolved after I deleted one of the material that might be overlapping with the mesh. And... the resulting USDZ is now working actually!

I am sending this "bug" to Apple.

CONCLUSION for now:
Multiple meshes skinned into a single armature is not working on iOS, can still work on MacOS.

[2018-12-07 13:41] silvainSayduck opened #118 "Translation/Rotation/Scaling operations ignored for animations"
Simple Translation/Rotation/Scaling animations seem to be ignored during conversion.

For example, using the [rotating triangle from the glTF animation tutorial](https://github.com/KhronosGroup/glTF-Tutorials/blob/master/gltfTutorial/gltfTutorial_006_SimpleAnimation.md), the resulting TRS matrixes in the outputed `usda`'s `timeSamples` are all the Identity matrix, which means that no animation is

[2018-12-09 11:31] enzyme69 opened #119 "Rotation weirdness between MacOS and iOS -- Apple bug?"
<img width="699" alt="screen shot 2018-12-09 at 10 29 21 pm" src="https://user-images.githubusercontent.com/3952687/49696703-fc212e80-fc01-11e8-9ab1-c2d268672b7a.png">

Just reporting that I have this weird GLTF to USDZ conversion where on MacOS it is showing as certain orientation, but looks correct on iOS.

Maybe it's the animation that is not transferring, heck this issue. But maybe it's Apple

[2018-12-09 13:37] enzyme69 commented on #119
Ok maybe the difference in rotation is because of the animation... closing this for now.

[2018-12-09 13:37] #119 closed

[2018-12-09 13:41] enzyme69 opened #120 "GLTF animation looks correct but USDZ is out of whack"
Not sure what causing this issue of bone animation got separated.

I have a feeling the bone rig etc was not setup properly in the Spiderman Rig itself:

[Spiderman Amazing Rigged 2 2 CYCLE 009.blend 2.zip](https://github.com/kcoley/gltf2usd/files/2660581/Spiderman.Amazing.Rigged.2.2.CYCLE.009.blend.2.zip)

GLTF looks correct if I use the online GLTF viewer:

[exported_GLTF_issue_when_become_USDZ.

[2018-12-09 13:42] enzyme69 commented on #120
I am using Kupoman GLTF export in Blender 2.79:
https://github.com/Kupoman/blendergltf

[2018-12-10 04:36] kcoley commented on #118
@silvainSayduck thanks for flagging, I'll take a look

[2018-12-10 04:40] kcoley commented on #118
@silvainSayduck do you know which version of `gltf2usd` you are using?  I was able to get animations to export when running against version 0.1.11:

[test.usda.zip](https://github.com/kcoley/gltf2usd/files/2661555/test.usda.zip)

[2018-12-10 04:47] kcoley commented on #120
@enzyme69 yeah looks like a skeleton export issue.  I plan on running this tool against these skin glTF unit test models: https://github.com/KhronosGroup/glTF-Asset-Generator/tree/master/Output/Animation_Skin

Hopefully this would help pin down where the issue is happening.

[2018-12-10 04:50] kcoley commented on #112
@ShantanuSriv do you know if you can provide a simple mesh that can repro this issue?

[2018-12-10 11:30] sayduck-daniel commented on #104
Hi @kcoley, any news on this matter?

[2018-12-10 15:54] silvainSayduck commented on #118
Hi!

We were in fact using verison 0.1.7, and updating to 0.1.11 fixed the issue. Thanks again for all the hard work!

[2018-12-10 15:54] #118 closed

[2018-12-10 16:48] ShantanuSriv commented on #112
@kcoley gltf sample which for the above images. Can you please look into this?
[53264118_mid.zip](https://github.com/kcoley/gltf2usd/files/2664058/53264118_mid.zip)

[2018-12-11 02:19] kcoley commented on #112
@ShantanuSriv I'll take a look

[2018-12-11 02:41] kcoley commented on #112
@ShantanuSriv this looks like a discrepancy between Mac OS and iOS.

Viewing the usdz model on iOS does yield a result similar to your photo:
![img_2104](https://user-images.githubusercontent.com/3946928/49774710-7ad1a680-fcaa-11e8-8f21-8907564dcf1f.PNG)

However, rendering the model within XCode actually shows the pink hue on the texture:
<img width="918" alt="screen shot 2018-12-10 at 6 39 06 pm

[2018-12-11 03:44] kcoley commented on #104
@sayduck-daniel thanks for checking in on this.  I just double checked the USD spec on this, and it looks like USD actually doesn't have support for texture transform, unlike what I originally thought.  The scale and bias parameters modify the texture values, but do not offset or scale the texture coordinates.

I could get the tool to "bake" the texture transform into a new modified texture to get

[2018-12-11 07:07] ShantanuSriv commented on #112
@kcoley thanks for all the help. Closing the issue for now.

[2018-12-11 07:07] #112 closed

[2018-12-11 10:37] sayduck-daniel commented on #104
@kcoley that is what I taught as well, baking is the best way to support this extension and it should be done before conversion. To be frank, when I read your USD Preview Surface I understood tiled textures could be supported, I must have misunderstood it.

Regarding the bigger size, it is a risk the modeller is aware of. In any case, we let him know through our interface when he asks for a USDZ e

[2018-12-11 23:22] enzyme69 opened #121 "Multiple Objects Rotating Animation Issue and PNG Transparency?"
[santa_steve.zip](https://github.com/kcoley/gltf2usd/files/2669828/santa_steve.zip)

I have this 3 planes simply rotating in loop, I can see the GLTF animation looks correct, but when converted to USDZ, it's totally out of whack, wondering why...

And also is alpha transparency not yet supported with USDZ?

[2018-12-11 23:33] enzyme69 commented on #121
It should look like this:
![leanflippantcob-max-1mb](https://user-images.githubusercontent.com/3952687/49837112-59cb9b80-fdf9-11e8-9c7a-034aaca44d49.gif)

[2018-12-11 23:34] enzyme69 commented on #121
BLEND:
[AN_zoetrope_kaleidoscope_009_BAKED.blend.zip](https://github.com/kcoley/gltf2usd/files/2669852/AN_zoetrope_kaleidoscope_009_BAKED.blend.zip)

[2018-12-12 07:41] kcoley commented on #121
@enzyme69 looks like the glTF is using cubic spline animations, which are not supported in usdz.  I haven't implemented a baking workaround for this yet in the tool.  Is it possible to author the model with linear animations or bake the animations from Blender?  That may work, though another issue you may hit is rendering planes in usdz, which might interfere with the shadow generation with ARQuic

[2018-12-12 07:42] kcoley commented on #121
@enzyme69 I haven't yet found a way to support vertex color alpha in usdz, since the python API expects vertex color to not have an alpha component.

[2018-12-12 07:46] kcoley commented on #104
@sayduck-daniel yeah I think it's something that can be added to the tool.  I hope to get it in by end of this week.  I am trying to figure out how to implement this in the Pillow API.

[2018-12-12 07:47] kcoley commented on #63
Closing this for now

[2018-12-12 07:47] #63 closed

[2018-12-12 07:47] kcoley commented on #51
Closing this for now

[2018-12-12 07:47] #51 closed

[2018-12-12 07:48] kcoley commented on #110
@enzyme69 a sample glTF file would be better.

[2018-12-12 07:49] kcoley commented on #111
@enzyme69 closing for now, but feel free to reopen if need be

[2018-12-12 07:49] #111 closed

[2018-12-14 10:14] enzyme69 commented on #121
Thanks K, for explanation. I've been using multiple GLTF exporter, latest being the one from Blender 2.8 beta, but I think all of them are still WIP :D

[2018-12-17 07:54] kcoley commented on #104
@sayduck-daniel almost have something working, though going through some edge cases.  Might take one more day or two before I merge.

[2018-12-17 09:03] sayduck-daniel commented on #104
👍 awesome, let me know, we have everything in place to test some models in our side.

[2018-12-18 06:32] kcoley commented on #104
@sayduck-daniel just added support for texture transform generation.  A new texture gets generated if the extension is used, which may slow down the export a bit.  Feel free to open an issue if you hit any problems.

[2018-12-18 06:32] #104 closed

[2018-12-22 01:34] wave-electron opened #123 "Error thrown when using GLTF Embedded file types"
@kcoley  I noticed today the tool seems to support GLTF "embedded" files as well? I had been using the separate type up until now.

I did a few test files. Very simple just a cylinder geometry with a solid color, or png texture. I was getting errors thrown. see below

[test2.gltf.txt](https://github.com/kcoley/gltf2usd/files/2704689/test2.gltf.txt)

`python gltf2usd.py -g ./GLTF/test2.gltf -o test

[2018-12-22 01:44] wave-electron commented on #123
I just realised my version of gltf2usd was over a week old. I just updated to the latest release... and the error has gone. So closing this issue for now.

[2018-12-22 07:32] wave-electron commented on #123
@kcoley BTW, doesn't have to be a character animation, just any geometry with image applied is crashing. I had a quick look in GLTFImage.py at the point the error occurs. It does not seem to handle the image_entry dict and falls over. I had a look at image_entry
{u' mimeType': u' image/png', u' bufferView': 0}

This line basically gives an error `if image_entry['uri'].startswith('data:image'):`

[2018-12-22 07:33] wave-electron commented on #123
Test file I'm using

[ImageTest.gltf.txt](https://github.com/kcoley/gltf2usd/files/2704906/ImageTest.gltf.txt)

[2018-12-23 03:44] wave-electron commented on #123
@kcoley

https://github.com/KhronosGroup/glTF/blob/master/specification/2.0/schema/image.schema.json

It seems image can be referenced by either uri or bufferview. I’m guessing the gltf exporter I’m using is using the bufferview. If so, can the script easily incorporate this version of gltf?

[2018-12-23 08:17] kcoley commented on #123
@wave-electron yeah I'll work on getting this in

[2018-12-23 09:16] kcoley commented on #123
@wave-electron I just merged a fix for this: https://github.com/kcoley/gltf2usd/pull/124

[test.usdz.txt](https://github.com/kcoley/gltf2usd/files/2705863/test.usdz.txt)

[2018-12-23 09:16] #123 closed

[2018-12-23 09:50] wave-electron commented on #123
Awesome work! I’m keen to start using the embedded gltf’s, so will let you know if I encounter any other issues.

[2018-12-23 13:29] wave-electron opened #125 "Multiple Images assigned to mesh - not working on embedded GLTF variant"
@kcoley If you have multiple images assigned to  the same mesh, the script seems to loop the correct amount of times, but copies the first image multiple times to the usdz archive. I've uploaded a gltf test file for you to use for testing if needed.

[multipleImageTest.zip](https://github.com/kcoley/gltf2usd/files/2705985/multipleImageTest.zip)

[2018-12-24 01:20] kcoley commented on #125
@wave-electron thanks for the model with multiple images.  I did not do the binary extraction properly in the last fix, but it seems to be working now after my last PR: https://github.com/kcoley/gltf2usd/pull/127

[test.usdz.txt](https://github.com/kcoley/gltf2usd/files/2706465/test.usdz.txt)

[2018-12-24 01:20] #125 closed

[2018-12-24 01:35] kcoley commented on #110
@enzyme69 closing for now.

[2018-12-24 01:35] #110 closed

[2018-12-24 01:35] kcoley commented on #108
@enzyme69 closing for now

[2018-12-24 01:35] #108 closed

[2018-12-24 01:36] kcoley commented on #121
@enzyme69 closing for now

[2018-12-24 01:36] #121 closed

[2018-12-24 01:36] kcoley commented on #109
@enzyme69 closing for now

[2018-12-24 01:36] #109 closed

[2018-12-24 01:51] wave-electron commented on #66
@kcoley Did you hit a dead end on this issue? I've noticed Mixamo.com uses multiple armature for their animation sequence... getting this resolved would potentially open up a great workflow for creating character animations very quickly.  I've had partial success merging the armatures and rebinding the mesh using maximo assets... but still not there yet.

[2018-12-24 02:00] wave-electron commented on #66
Here is an example from Mixamo.com I converted to usdz [SambaDancing20.usdz.txt](https://github.com/kcoley/gltf2usd/files/2706486/SambaDancing20.usdz.txt)

I'm also trying to work out what the grey/white reflection is caused from.... it seems to happen in GLTF file as well. When I disable environment lighting in gltf-viewer.donmccurdy.com to "none"  the terrible looking grey/white shading seems to

[2018-12-24 12:49] enzyme69 opened #128 "Struct error when converting... not sure what's going on."
[code]

[2018-12-24 20:48] enzyme69 commented on #128
Ok, perhaps the above error print out is not quite clear on what actually causing them.

But basically it might be something to do with Modifier or Skinned Mesh Vertex Group without bones.

[2018-12-27 05:47] kcoley commented on #128
@enzyme69 do you have a sample glTF file?

[2018-12-27 05:53] kcoley commented on #66
@wave-electron nice find.  I hit some walls with this one as I was not able to get it to generate properly without some work in terms of merging glTF skins that may have share joints and mapping this to a referenced usd skeleton that would be instanced across multiple meshes.  At the moment, it seems to be easier to work this out at authoring time, though I plan on making some updates to the skele

[2018-12-28 10:36] wave-electron opened #129 "License file in usdz archive"
This is a feature request.

What do others think about the need for a license/model credits txt file in the usdz archive? I personally think this is an issue with usdz at the moment. These 3D assets are shareable & currently when they get shared there is no way of knowing who is the license holder or should be getting credit.

[2018-12-28 10:47] wave-electron commented on #129
Say for example I’m hosting usdz files on my website, that need to give model credits to third-parties. I can add license info or links on the weppage or usdz thumbnail. But once that usdz asset gets shared via iMessage or email. Potentially to millions. The license information or credits don’t deploy with the usdz archive. At least if it’s within the archive, I know if someone unzips the archive

[2019-01-02 04:19] kcoley commented on #129
@wave-electron Unfortunately, the usdz api does not have an option for license files.  Though I think your idea may be a good request for the [usd interest group forum](https://groups.google.com/forum/#!forum/usd-interest).  This sounds similar to how glTF has copyright information in the `assets` section within the json.

[2019-01-02 04:19] #129 closed

[2019-01-02 04:52] wave-electron commented on #129
@kcoley thanks for letting me know. When I get a chance will raise it in the usd interest group. I think it’s important because of the way usdz asset is built around being shareable via iMessage & email. The moment you share it, copyright is lost.

[2019-01-10 16:58] ivan-ushakov commented on #120
@kcoley Maybe a separate issue, but what could be a reason when model stay in origin even if in animation we have it moving? It looks like when we disable root animation.

[2019-01-11 13:47] silvainSayduck opened #131 "KHR_texture_transform texture generation crashes (source_image_pixels goes out of range)"
Hi @kcoley,

I just pulled the latest version which should support the KHR_texture_transform extension. However, when processing a [glTF using that extension](https://www.dropbox.com/s/7ul6k1xl934xa69/2019.01.10.tiled_gltf.zip?dl=0), I get the following error.

[code]

I've tried to investigate, but I'm not sure how the crashing block of code is supposed to work:
[code]

At least, `height == 2048`

[2019-01-11 14:37] kcoley commented on #131
@silvainSayduck just merged a fix for this: https://github.com/kcoley/gltf2usd/pull/132
Thanks for flagging!

[2019-01-11 14:37] #131 closed

[2019-01-11 15:07] silvainSayduck commented on #131
Awesome, thanks a lot! Testing it now :)

[2019-01-14 22:34] spiderworm opened #133 ""apply texture transform if necessary""
Hi kcoley,

Thanks for this great lib. I have noticed that, with certain of my glTF files, conversion takes considerably longer. I narrowed it down to GLTFImage.py, to the "if" block on line 91 that writes a new version of the file to the directory that is a rotation or crop of the original. It's preceded with the following comment:

"#apply texture transform if necessary"

My slower glTF files in

[2019-01-14 23:33] kcoley commented on #133
@spiderworm another option would be to generate texture transformed texture coordinate channels and remap to them in the generated USD file.  Though I am not sure if any application would be able to load this file reliably.

[2019-01-14 23:38] spiderworm commented on #133
Hi @kcoley,

Thanks so much for the link to that discussion! I was trying to find any status from Pixar about implementing that feature and wasn't to find anything on my own, so this was very useful.

Adding a flag to not generate new textures sounds useful as it will help me eliminate it as a pain point when doing profiling (which is what I'm currently focused on) even tho the resulting models wi

[2019-01-14 23:47] kcoley commented on #133
@spiderworm no problem!
I can add the flag support later today or tomorrow to toggle texture generation.

I thought about adding OpenGL shader support to generate a new texture on GPU, though the set up for this could get messy and I am not sure if all users of the library have access to GPUs.  If texture transform support were to be released to USD, that could be an export option, which would spe

[2019-01-18 06:40] kcoley commented on #133
@spiderworm I just merged an update to toggle texture transform generation.  To disable, you can use the flag `--no-generate_texture_transform_texture`

[2019-01-18 06:40] #133 closed

[2019-01-18 06:42] kcoley commented on #128
@enzyme69 closing for now.  If you have a sample file, feel free to reopen

[2019-01-18 06:42] #128 closed

[2019-01-18 11:18] nikunjarora12345 opened #135 "GLTF Material names not preserved"
After conversion to usdz, materials are renamed as "pbrmaterial_0" and similar instead of retaining the original names. Is retaining the original names possible?

[2019-01-19 06:14] kcoley commented on #135
Hi @nikunjarora12345 .  I can make an update to make the names match the original if possible, as long as the name does not cause path conflicts in USD.

[2019-01-19 07:47] nikunjarora12345 commented on #135
@kcoley Thanks a lot. Hoping for a positive result.

[2019-01-23 18:49] spiderworm commented on #133
Thank you!

[2019-01-25 06:50] kcoley commented on #135
@nikunjarora12345 sorry for the delay.  Just merged a fix for this.

[2019-01-25 06:50] #135 closed

[2019-01-28 16:14] jclarkk opened #137 "GLTF file causes memory leaks when loading geometry"
[bad_gltf.zip](https://github.com/kcoley/gltf2usd/files/2803800/bad_gltf.zip)
For some reason the attached GLTF causes a memory leak when attempting to read the buffer.

The problem seems to be when iterating over all attributes in the primitive_entry in the file Mesh.py

[2019-01-29 04:54] enzyme69 opened #138 "Latest update does not have the usual simple gltf2usd.py..."
The tool seems to be evolving but the latest version does not have the usual gltf2usd.py so I am not sure how to use the converter tool anymore... 🥺

<img width="521" alt="screen shot 2019-01-29 at 11 52 54" src="https://user-images.githubusercontent.com/3952687/51885055-84c77a00-23bc-11e9-90eb-0bdbdeabb291.png">

[2019-01-29 04:58] #138 closed

[2019-01-29 04:59] enzyme69 commented on #138
My bad I was looking at the wrong folder.

[2019-01-29 07:38] kcoley commented on #137
@jclarkk thanks for flagging, I just made an update to cache the accessor data on loading glTF files, to help speed up the loading process.  However, I noticed that this particular glTF has 79 mesh primitives under a mesh, so is a bit heavy.  The export time takes a while and the resulting usd file is large since the referenced attribute data in glTF is duplicated when exporting to usd.   If you u

[2019-01-29 07:38] #137 closed

[2019-01-29 09:17] jclarkk commented on #137
@kcoley
I can confirm issue has been fixed, thanks!

[2019-01-30 13:49] jclarkk opened #140 "Skinned mesh without skin object should be dealt as a warning"
[bad_skin.zip](https://github.com/kcoley/gltf2usd/files/2812760/bad_skin.zip)
In this example there is a Mesh which contains the JOINTS and WEIGHTS attributes yet the node linked to the mesh does not contain a link to the skin.

In the [GLTF Validator](https://github.com/KhronosGroup/glTF-Validator) this is dealt as a warning and it feels like it should be treated the same here as well rather than

[2019-01-30 17:31] jclarkk commented on #140
Awesome, thanks!

[2019-01-31 12:03] jclarkk opened #142 "Wrong texture lookup - PbrMetallicRoughness class uses index of texture to lookup image"
[wrong_lookup.zip](https://github.com/kcoley/gltf2usd/files/2817046/wrong_lookup.zip)
Hey,

In the attached example it seems like the code in Material.py is using the index here:
Material[6]['pbrMetallicRoughness']['baseColorTexture']['index']

To find the image which leads to an error since the index should be used to find the texture object in 'textures'.

[2019-02-01 07:50] kcoley commented on #142
@jclarkk good catch, I'll work on a fix for this

[2019-02-05 05:35] kcoley commented on #142
@jclarkk just merged a fix for this: https://github.com/kcoley/gltf2usd/pull/143

[2019-02-05 05:35] #142 closed

[2019-02-05 09:59] jclarkk commented on #142
Great, thanks!

[2019-02-11 13:02] sayduck-daniel opened #144 "Conversion special character in name bug"
Hi,

It seems we have some exceptions coming up on our gltf2usd server when we use some special characters on the node or accessors names in the gltf file.

I get this exception
[code]

Below a sample of glTF file.

[code]

[2019-02-11 18:39] jan-at-school commented on #103
@enzyme69

This error doesn't doesn't seem to be related with the your solution...
How did you overcome this one? I am getting this error for python27 as well as python 3.

[2019-02-12 07:01] kcoley commented on #144
@sayduck-daniel I made an update to include square brackets in the regex.  Does that work for you?

[2019-02-12 09:30] sayduck-daniel commented on #144
I'm gonna give it a try. I let you know.

I would actually remove everything that is not `a-zA-Z0-9_-` to be on the safe side.

[2019-02-12 09:42] sayduck-daniel commented on #144
Getting this error now:

[code]

[2019-02-13 03:29] kcoley commented on #144
@sayduck-daniel does this branch work for you?: https://github.com/kcoley/gltf2usd/tree/materialNameTest

[2019-02-13 12:50] sayduck-daniel commented on #144
Sill not working. I sent you privately on twitter the glTF we using. The error we have now is:

[2019-02-13 23:10] BinaryChunk opened #146 "Valid glft file - results curious - would be grateful for any help"
Having success moving my animation assets from FBX to USDZ for use in iOS apps. Thanks for all your bright posts on the subject.

Pipeline: C4D > gltf2  > gltf2usd > Xcode > USDZ

This one little dino animation has me stumped. Seems to be a valid gltf2 asset. After conversion, it is not previewing correctly in finder OSX or iOS.
Source Files are here  - https://bit.ly/2WTIC2y

Shown with 100, 10,

[2019-02-14 01:46] kcoley commented on #146
Hi @BinaryChunk.  glTF defaults to units of [meters](https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#coordinate-system-and-units).  With initial testing, I found that usdz on iOS assumed centimeters.  By default, the a scale of 100 is applied to convert from meters to centimeters, but this can be overwritten by setting the `--scale` (or `-s`) command line flag.

Btw, previewing

[2019-02-14 02:06] kcoley commented on #146
Btw, you can also directly export to usdz from gltf2usd if that helps your workflow :)

[2019-02-14 03:53] BinaryChunk commented on #146
Thanks Kacey

Yes gltf file is fine - it the conversion I am referring to - would be grateful if you would try and convert it using gltf2usd and see if you get similar results. - thanks

Source Files are here - https://bit.ly/2WTIC2y

![img_1106](https://user-images.githubusercontent.com/11893048/52761580-1fd16e00-2fd1-11e9-84ed-a032de457305.png)

[2019-02-14 09:15] sayduck-daniel opened #147 "Material with the same name don't convert correctly."
We got a gltf with 3 meshes, each uses a different material.

Those 3 materials have the same name in the glTF file. (As per the spec, the material name can be the same or even omitted)

The USDZ generated uses the same material for all 3 meshes.

[2019-02-15 06:50] kcoley commented on #146
@BinaryChunk I just tried this, and looks like it may be a bug in iOS.  It displays properly within XCode and Preview on Mac OS:
<img width="544" alt="screen shot 2019-02-14 at 10 41 40 pm" src="https://user-images.githubusercontent.com/3946928/52839123-d0ab3c00-30a9-11e9-8265-991ea7fd24d2.png">

<img width="918" alt="screen shot 2019-02-14 at 10 42 58 pm" src="https://user-images.githubuserconten

[2019-02-15 16:16] BinaryChunk commented on #146
@kcoley Thanks! I will rework animation per @wave-electron comments - grateful for your help!

[2019-02-16 05:16] kcoley commented on #146
@BinaryChunk no problem!

[2019-02-16 05:16] #146 closed

[2019-02-16 05:21] kcoley commented on #147
@sayduck-daniel I just merged a fix which appends the index to the material names: https://github.com/kcoley/gltf2usd/pull/148

[2019-02-16 05:21] #147 closed

[2019-02-16 05:21] kcoley commented on #144
@sayduck-daniel I just merged an update with more special characters detected: https://github.com/kcoley/gltf2usd/pull/148

[2019-02-16 05:21] #144 closed

[2019-02-27 23:54] DavidArayan opened #149 "Support for multiple UV channels"
Hello,

We have been using this tool and it's absolutely fantastic, so thank you for sharing this tool!

I'd like to ask if it were possible to add support for multi UV channels? For example, currently trying to export GLTF with baked lightmaps (in seperate uv channels) looks messed up. Does USDZ actually support multiple UV channels?

Have a great day!

[2019-02-28 05:37] kcoley commented on #149
Hi @DavidArayan .  I just merged a fix to support the `TEXCOORD_1` attribute, so two UV channels should be supported.  Are you trying to use more than two UV maps?

[2019-02-28 05:46] DavidArayan commented on #149
Hello @kcoley . We are just using 2 UV channels at the moment, 2nd being for lightmaps. That was really quick work thank you! will pull, and try it out.

[2019-02-28 06:02] DavidArayan commented on #149
Hello @kcoley Sorry, just tried out your changes but the lightmaps in the secondary UV channel are still not applied to the USDZ model. I'll try to source you an example GLTF file to check out.

[2019-02-28 06:54] DavidArayan commented on #149
Hello @kcoley

I've got the files for reference.

USDZ
<img width="589" alt="screen shot 2019-02-28 at 5 50 18 pm" src="https://user-images.githubusercontent.com/7587896/53546854-8df56380-3b81-11e9-9563-b8d28f70b87e.png">

GLTF
<img width="567" alt="screen shot 2019-02-28 at 5 50 28 pm" src="https://user-images.githubusercontent.com/7587896/53546861-93eb4480-3b81-11e9-94d5-beb5b416699d.png">

Orig

[2019-02-28 14:14] kcoley commented on #149
@DavidArayan thanks for the sample model.  It looks like the occlusion texture is actually set in the usdz file, but QuickLook seems to be multiplying the occlusion map to the diffuse color.  However, if you view the usdz file in Xcode, it seems to behave more like ThreeJS, where the occlusion texture effect is "decreased" when facing a light source:
<img width="500" alt="screen shot 2019-02-28 at

[2019-02-28 22:28] DavidArayan commented on #149
Hello @kcoley ,

Thank you for your insight. I might end up writing an external tool that either merges the UV channels into a single channel or just not use lightmaps.

[2019-03-01 00:48] kcoley commented on #149
@DavidArayan no problem, and good luck!

[2019-03-01 00:48] #149 closed

[2019-03-13 01:57] wave-electron opened #151 "Feature Request generating preview image programmatically"
@kcoley I've been looking at the usd api for ways to generate a preview.jpg for usdz files programmatically.

I found this `viewportShot = usdviewApi.GrabViewportShot()`

However, Apple's standalone USD Python doesn't support usdview anyway. Any ideas of other ways to go about this?

[2019-03-14 05:34] kcoley commented on #151
@wave-electron hmm, I haven't used the grabviewportshot api call or tried to create an image from a USD myself.  Unless usdview can somehow do this, not sure of a way to do this.  You might be able to do this with glTF web apis, but it wouldn't be USD.

[2019-03-14 05:54] wave-electron commented on #151
@kcoley I’m doing some dynamic usdz generation from a mac server using a mix php & python. I’m using  glTF templates which don’t change only materials each time. Which is working fine. I was now looking at generating the preview.jpg at the same time so it would preview in safari without using a stock image. The problem is I’ve been unsuccessful building USD  on macOS Mojave... and the Apple Standa

[2019-03-14 05:56] #151 closed

[2019-03-14 12:22] wave-electron commented on #151
@kcoley

I worked out eventually you could use shell script on Mac... produces a nice size preview.png

[code]

[2019-03-15 09:21] Lonerobot opened #152 "A horrible death of python"
Sorry if this is a bit on the basic side. I've pulled the repo, ran requirements.txt and pointed my pythonpath to the macos build of USDPython.

Python path is added to .bash_profile
[code]

running `python gltf2usd.py -h`

gives me
[code]

I guess this is to do with my python environment or install but can anyone shed light on what my issue could be? i've not managed to actually _kill_ python bef

[2019-03-16 17:44] jan-at-school opened #153 "Error: Invalid Name for Prim"
[I am using these samples](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/RiggedFigure)

[code]

Almost all of them give this error

[2019-03-16 21:58] wave-electron commented on #153
@kcoley Paul from usd interest group provided some more clarity about problems relating to the inconsistency of rigged animations on mcOS/ iOS.

[usd interest post relating to inconsistencies of rigged animations on macOS/ iOS](https://groups.google.com/forum/#!search/usd$20interest$20googlegroups%7Csort:date/usd-interest/V9unG66y4dI/W5gGU1I3CgAJ)

[2019-03-17 01:31] arifullahjan commented on #153
@kcoley @wave-electron
Check out the repository. https://github.com/KhronosGroup/glTF-Sample-Models?files=1
Almost all of the samples make this error. Not just the jigged figure

[2019-03-24 23:27] DavidArayan commented on #152
Hello,

I was having this exact issue and unfortunately never found a solution. It's got something to do with python installation problems especially when multiple python versions are installed on the same system. Need to remember that mac also comes with a system version of python installed (it's an older version).

If it helps, I bit the bullet and just used a [Docker](https://www.docker.com/) i

[2019-03-25 01:29] lizylgit opened #154 "Adding annotation"
I am using the library to convert my 3dobjects to usdz and am very pleased with the result.
I have a requirement to  attach annotation to  3D objects, these annotations are not converted to  USDZ . The glTF 3DObject node contains the  the annotation information ex 'label text'  and the 'position' to place the annotation.  Are you able to help or direct me on how I can add these labels in USDZ for

[2019-04-01 18:52] EtienneHeyman opened #155 "pxr problem"
Hi,

I'm a beginner in this kind of manipulation. I copied the USD folder in my pythonpath. I meet a problem I can't resolve :

macbook-pro-de-etienne:Source etienneheyman$ python gltf2usd.py -h
Traceback (most recent call last):
  File "gltf2usd.py", line 18, in <module>
    from pxr import Usd, UsdGeom, Sdf, UsdShade, Gf, UsdSkel, Vt, Ar, UsdUtils
ImportError: No module named pxr

I have this pr

[2019-04-01 20:43] EtienneHeyman commented on #155
In reality I didn't put the USD in the right folder. I put it in the pythonpath but when I run python gltf2usd.py -h ; python crash...

[2019-04-01 20:43] EtienneHeyman commented on #155
*the USD folder

[2019-04-03 12:10] #155 closed

[2019-04-03 12:11] EtienneHeyman commented on #155
I found the solution.

[2019-04-10 22:34] wave-electron commented on #18
@kcoley  Blend Shapes has partial support now in USD v19.05. With some great help in the usd interest group I managed to get @ox morphedCube.usda test file working.
I've attached the working usda file as zip.

In the original usda file these timecode below were wrongly set to 0

[code]
and rel skel: animationSource = <anim> was added to the correct location below.

[code]

to run the usda file in

[2019-04-10 22:55] wave-electron commented on #18
@kcoley I've attached what the current version of gltf2usd produces with the same archive [animatedMorphCube.gltf](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/AnimatedMorphCube/glTF) usda attached below as zip file.

 Apart from the issues I posted above. It is also missing the blendShapeWeights.timeSamples data for some reason?

[code]

[Current_animatedMorphCube.usda.zip](

[2019-04-17 00:49] julien-c opened #156 "ModuleNotFoundError: No module named '_usd'"
Probably more of an issue with Apple's prebuilt usd library than with this module, but in case anyone has a fix or an idea how to solve:

[code]

(I've added the `USD/` folder to both $PATH and $PYTHONPATH)

[2019-04-17 01:12] julien-c commented on #156
(alternatively, if anyone could convert the .gltf below to .usdz I'd be super grateful – yes I'm lazy :)

[Arachnix-baked-subdiv.gltf.zip](https://github.com/kcoley/gltf2usd/files/3087492/Arachnix-baked-subdiv.gltf.zip)

[2019-04-20 19:58] Betbe opened #157 "cannot import name _imaging"
I've been trying to run for two days this build but after looking for some info, asking to Jimmy and searching through the web I have not luck for a solution. I tried to do another user account in my Mac to restart all the process but neither I had any luck.

The same error is showing to me:
File "gltf2usd.py", line 16, in <module>
    from PIL import Image
  File "/Library/Python/2.7/site-package

[2019-04-23 06:22] dnxmvp24 opened #158 "IK Bone animations won't work"
Good day,

I tried out a simple Bone Animation using the pipeline. Apparently based on my self-study, only FK bone animations work as show below. I can't seem to find the right "solution" or way to make my human model walk using IK.

<img width="1437" alt="Screen Shot 2019-04-23 at 2 21 29 PM" src="https://user-images.githubusercontent.com/49896440/56559075-1b2dc500-65d3-11e9-934f-00f7bcb429cc.png

[2019-05-22 07:45] sayduck-daniel opened #159 "Texture conversion ends up in white texture"
Somehow this glTF material gets its texture converted to a white map and the original textures get replace by white ones.

This was working before but somehow now it's not anymore. Any idea on your side why its broken?

[conver-me.zip](https://github.com/kcoley/gltf2usd/files/3206164/conver-me.zip)

[2019-05-22 08:51] sayduck-daniel commented on #159
We find the problem.

When we create an USDZ in the same folder than our glTF with an ORM map (occlusion roughness metalness). The converter splits the O and somehow overrides the source file. After that, it uses the newly created file to create the R and M:

this files:
![68747470733a2f2f692e696d6775722e636f6d2f41424250774d462e706e67](https://user-images.githubusercontent.com/38907720/58160782-cb

[2019-05-22 08:53] sayduck-daniel opened #160 "Albedo, metalness, roughness factors ignored when using textures."
glTF
<img width="828" alt="Screenshot 2019-05-22 at 11 33 42 AM" src="https://user-images.githubusercontent.com/38907720/58160886-f71fdb00-7c87-11e9-891c-2524a48c8850.png">

USDZ
<img width="680" alt="Screenshot 2019-05-22 at 11 33 53 AM" src="https://user-images.githubusercontent.com/38907720/58160905-fdae5280-7c87-11e9-9f97-2092844e8f71.png">

The blue ball uses a white texture with a factor of

[2019-05-22 08:55] sayduck-daniel commented on #160
Edit: It seems USDZ takes it in account but your code defaults it to 1:
https://i.imgur.com/G62rnqG.png

[2019-05-31 00:37] anthonyjames90 commented on #155
I'm having the same issue - could you share how you solved it please? :-)

Traceback (most recent call last):
  File "gltf2usd.py", line 18, in <module>
    from pxr import Usd, UsdGeom, Sdf, UsdShade, Gf, UsdSkel, Vt, Ar, UsdUtils
ImportError: No module named pxr

[2019-05-31 04:37] yspark90 commented on #158
It's not supported

[2019-05-31 04:40] yspark90 commented on #155
@anthonyjames90
You need to set the correct Python path to the imported libraries in your terminal (shell) session:

    export PATH=$PATH:<PATH_TO_USDPYTHON>/USD
    export PYTHONPATH=$PYTHONPATH:<PATH_TO_USDPYTHON>/USD

For example:

    export PYTHONPATH="/Users/username/Projects/Pixar/BUILD/USD/lib/python:$PYTHONPATH"

[2019-05-31 04:40] yspark90 commented on #155
You can also set your .bashrc_profile to this.

[2019-05-31 04:42] yspark90 commented on #158
You can ask about getting support for IK's and USD here:

https://groups.google.com/forum/m/#!forum/usd-interest

[2019-05-31 04:42] #158 closed

[2019-05-31 04:47] kcoley commented on #157
@Betbe looks like you may have issues with your install of pillow (https://github.com/python-pillow/Pillow/issues/3088).
You can try installing with pip to see if that works better.

[2019-05-31 04:47] #157 closed

[2019-05-31 04:50] kcoley commented on #160
Hi @sayduck-daniel, looks like multiplying factors by textures is not supported in UsdPreviewSurface.  Though might be something you can bring up here: https://groups.google.com/forum/#!forum/usd-interest

[2019-05-31 04:50] #160 closed

[2019-05-31 04:51] #152 closed

[2019-05-31 05:02] yspark90 commented on #156
[arachnix.usdz.zip](https://github.com/kcoley/gltf2usd/files/3239762/arachnix.usdz.zip)

[2019-05-31 05:02] #156 closed

[2019-05-31 08:15] sayduck-daniel commented on #160
Hi @kcoley, while testing we saw USD is not taking in account those factors.

Never the less, glTF does use it and when we convert a glTF using those factors, this ends up in a USD not looking the same.

Would it be possible on your side to multiply the image by the factor when you split the roughnessMetalsness map? This should be about multiplying `GB` channels from the roughnessMetalsness before

[2019-05-31 14:11] julien-c commented on #156
Thanks so muck @yspark90

[2019-06-01 20:30] anthonyjames90 commented on #155
Thanks for the reply - I'd installed USD using the inbuilt script and in the readme file it told me to:

"To start using USD in Python, set your PATH and PYTHONPATH variables as follows (replace `<PATH_TO_USDPYTHON>` with the path to this USDPython folder):

    export PATH=$PATH:<PATH_TO_USDPYTHON>/USD
    export PYTHONPATH=$PYTHONPATH:<PATH_TO_USDPYTHON>/USD

You should then be able to easily in

[2019-06-04 05:52] kcoley commented on #160
@sayduck-daniel actually, the factors are being set in the scale attribute of UsdUVTexture, and should be multiplied against the roughness and metalness maps.  This might be a bug in Quicklook.

[2019-06-04 07:02] sayduck-daniel commented on #160
It seems it's not working that way what makes models totally wrong when the gltf is using a texture for roughness and a factor for the metalness.

I think you should move towards using the factors to change the image you generate until USDZ supports it correctly.

[2019-06-06 07:26] kcoley commented on #160
@sayduck-daniel does this branch work for you?: https://github.com/kcoley/gltf2usd/tree/fixBlendShapes

[2019-06-06 07:28] sayduck-daniel commented on #160
Let me come back to you asap :)

[2019-06-12 07:36] sayduck-daniel commented on #160
Hi @kcoley, this is what I got from the person testing:

However, the strength parameter is still ignored (ie a black occlusion map with strength 0 will still make the USDZ all black instead of having no effect)

[2019-06-12 08:46] sayduck-daniel commented on #160
I just tested myself with [this gltf](https://staging-cdn.sayduck.io/a/shared_assets/files/000/025/120/27e2149f0a055a4e759f40c357c99ef6b0b4331fb8f42ef6efeccd1de1ab9db7-original.gltf?v=1557836853) that looks like this:

<img width="1131" alt="Screenshot 2019-06-12 at 11 36 27 AM" src="https://user-images.githubusercontent.com/38907720/59335970-5791bd80-8d06-11e9-8ff8-5d5586f02a1c.png">

We have 3 s

[2019-06-17 01:10] kcoley commented on #159
@sayduck-daniel just merged a fix so usd creation happens in a temp directory before being copied over to the specified directory

[2019-06-17 01:10] #159 closed

[2019-06-17 01:11] kcoley commented on #154
@lizylgit I made an update so data added to the extras on a node or the glTF asset data gets written out to customData

[2019-06-17 01:11] #154 closed

[2019-06-17 01:15] wave-electron opened #162 "Support for iOS13Beta"
@kcoley  I have found issues with my existing workflow using gltf2usd and iOS13Beta. Many working usdz files were no longer working in iOS13Beta. One solution I found worked was merging the multiple mesh into a single mesh. This fixes many of the usdz files not rendering correctly. I also used Apple’s fixedOpacity to fix some where transparency layers were no longer rendering correctly. However, I

[2019-06-17 01:17] kcoley commented on #160
@sayduck-daniel thanks, I merged an update to master for this

[2019-06-17 01:18] kcoley commented on #162
@wave-electron do you have a sample glTF that works differently on iOS 13 Beta vs iOS 12?

[2019-06-17 01:21] wave-electron commented on #162
@kcoley Yes. multiple meshes do not render correctly. I’ll make you a very simple glTF file. Do you want usdz, usda etc?

[2019-06-17 01:23] wave-electron commented on #162
@ Examples like this that work in iOS12 https://usdzshare.com/?ug-gallery=photo-detail&photo_id=938 don’t work in iOS13... and I haven’t worked out how to fix examples like these because merging mesh is not an option.

[2019-06-17 01:24] kcoley commented on #162
@wave-electron thanks, I'll see if there is any other possibility here

[2019-06-17 01:29] wave-electron commented on #162
@kcoley iOS13 now supports nested usdz. This is good way to package family of usdz that go together like a lounge setting... as each item can be individually moved around inside AR Quick Look & Reality Composer. What would be required for gltf2usd to support such a structure?

[2019-06-17 04:27] wave-electron commented on #162
@kcoley I've attached a glTF that is working correctly in iOS12 but not iOS13Beta.
[not-working-iOS13.zip](https://github.com/kcoley/gltf2usd/files/3295250/not-working-iOS13.zip)

[2019-06-18 05:03] kcoley commented on #162
@wave-electron thanks for the sample glTF.  This looks like a bug in iOS 13, since the generated usdz file is valid from what I can tell.  It may be good to raise this as an issue to Apple.

As for nested usdz files, does this mean zipping several generated usdz files into a zip archive?  Or are you thinking of generated nested usdz files from a glTF file?  This might be outside the scope of gltf2

[2019-06-18 08:31] wave-electron commented on #162
@kcoley I found this in pixar usdz docs

It could be a bunch of separate usdz files bundled inside a single parent usdz file. I’ll do some more digging and let you know.

[2019-06-20 23:17] wave-electron commented on #162
@kcoley

I found out how nested usdz works. It does require a separate tool to package input the usdz files into a new usdz archive. This is what the usda file looks like. Apple provides a tool which is bundled with the latest standalone usdpython.  usdzcreateassetlib nested.usdz cube.usdz sphere.usdz

would generate a nested.usda file like below.

[code]

[2019-06-21 06:36] kcoley commented on #162
@wave-electron thanks for looking into this!

[2019-06-21 06:44] wave-electron commented on #162
@kcoley  Apple’s latest release of usdpython & usdzconvert python command line tool ( version 058 released today) is performing much better than the original release. I did some tests and it handles transparency now, plus glTF conversions with animations are working better. I tested the same file above and it converted without the same animation error. I did notice it may have an issue with metall

[2019-06-21 06:52] wave-electron commented on #162
@kcoley I also found out using the Pixar  usdzip -- asset or --arkitAsset with the same usda structure above would also create nested usdz files

[2019-06-24 03:18] ang88myt opened #164 "usdz/a model comes in without textures attached"

[2019-06-24 03:25] ang88myt commented on #164
im working on windows platform. im using usdview to view the model. seems like plain. suppose to be wood texture.

![python_06-24](https://user-images.githubusercontent.com/19507159/59989585-69625180-9672-11e9-83af-caa2960507e0.png)

[2019-06-24 05:41] #164 closed

[2019-06-25 11:50] jerinisready commented on #156
Traceback (most recent call last):
  File "gltf2usd.py", line 19, in <module>
    from pxr import Usd, UsdGeom, Sdf, UsdShade, Gf, UsdSkel, Vt, Ar, UsdUtils
  File "/home/jk/code/usdpython/USD/lib/python/pxr/Usd/__init__.py", line 24, in <module>
    import _usd
ImportError: /home/jk/code/usdpython/USD/lib/python/pxr/Usd/_usd.so: invalid ELF header

[2019-06-26 14:15] silvainSayduck commented on #162
Hi, just jumping here to say that we face the same issue. Our USDZ files are now not working with iOS 13 (or MacOS Catalina). Here is what we have found out so far:

- USDZs converted with `gltf2usd` do not work anymore
- When using Apple's USDZ Tools from last year, USDZs created with `gtlf2usd` cannot even be unzipped at all, an error happens ![](https://i.imgur.com/GSitH52.png)
- When using App

[2019-06-30 21:42] wave-electron commented on #162
@silvainSayduck

Some other things I’ve figured out.

1. Skinned animations work using gltf2usd but not using usdzconvert on iOS13. I’ve filed a radar with Apple on this.

2.  Usdzconvert is now best for doing animations with simple translation or transforms. However, orientation will be in some cases be different on iOS12 whilst correct in iOS13.

3. I think iOS13 has a bug with handing metallic

[2019-07-01 09:57] silvainSayduck commented on #162
Nice, thanks for sharing @wave-electron!
A couple more things we've seen/heard that might be worth sharing too:

- In the [USDZ tools from Apple's site](https://developer.apple.com/augmented-reality/quick-look/), one of the tools is called `fixOpacity`. From one of the WWDC talks, any objects that had transparency that were made for iOS 12 will need to be run through there.
_[I've actually tried r

[2019-07-02 01:32] jpweeks opened #165 "Python Crash"
I've tried several configurations in an attempt to get the correct Python version linked with the `pxr` and other modules, but keep getting the following crash:

[code]

I've seen a couple other issues mentioning this problem, but haven't seen a resolution. Is there a specific system configuration required to run these scripts with the `pxr` module?

[2019-07-02 19:45] jpweeks commented on #165
To avoid system Python configuration issues, I switched to using a containerized toolset: https://github.com/Plattar/python-xrutils

[2019-07-02 19:45] #165 closed

[2019-07-03 15:15] FaiyazMdAbdul opened #166 "AttributeError: 'int' object has no attribute 'name'"
I am trying to convert the sample gltf file included in project . But I am getting this error.
![gltf2usd](https://user-images.githubusercontent.com/12680434/60603394-4d2d8580-9dd3-11e9-95ae-1405ad875af2.PNG)

[code]

[2019-07-03 16:24] FaiyazMdAbdul commented on #166
Issue resolved by installing enum34

[2019-07-03 16:24] #166 closed

[2019-07-03 18:30] FaiyazMdAbdul opened #167 "Unable to convert to USDZ . But USDA works"
I am able to create usda file. But usdz fails. I have attached screenshot of error

![usdzproblem](https://user-images.githubusercontent.com/12680434/60616085-5546ee80-9dee-11e9-9a17-ba34fdea3bd7.PNG)

[code]

[2019-07-18 11:16] enzyme69 opened #168 "Multiple objects animation (no armature) failed to convert"
I have spheres and cones that were constrained into bones (BVH mocap animation), which I then baked, so I have like 100+ animated objects.

As GLTF, I can see them animating when I use gltf viewer (online). However converting them into USDZ and I am getting just a static result. Wondering why?

If using Apple's own usdzconvert tool, usually Armature + Mesh works fine, but in this case, 100+ animat

[2019-07-18 11:40] enzyme69 commented on #120
Hi Kacey, with iOS 13, usdzconvert and your tool, somewhat juggling both, I found this to be helpful:
- Clean bake FBX Export and Import
- Remove animation from Armature

And your tool seems to work where Apple one failed... oh well it's the hierarchy and armature thing!

[2019-07-18 11:40] #120 closed

[2019-07-18 12:56] enzyme69 commented on #168
Kind of related, but I tested a couple of BVH mocap armature into Blender and then trying to export and getting all kind of weird USDZ animation...

The issue seems like the Armature is all just a separate bones, and seems like Apple usdzconvert and GLTF2USD also cannot handle such hierarchy...

BLEND Blender 2.80
[BVHRunner_005.blend.zip](https://github.com/kcoley/gltf2usd/files/3406565/BVHRunner

[2019-07-23 21:58] TyLindberg opened #169 "Material opacity lost on export to USDZ"
When the material in a gltf file has a base color with an alpha value less than 1, the material will still appear fully opaque in USDZ. This seems to have started happening at commit c0301fc9579739c826d51be97fc1d169f2c78e65.

Attached is an example model that exhibits this behavior.

[TransparentDuck.zip](https://github.com/kcoley/gltf2usd/files/3424207/TransparentDuck.zip)

[2019-07-31 11:38] enzyme69 commented on #168
As GLTF this works:
[ManyAnim.zip](https://github.com/kcoley/gltf2usd/files/3451495/ManyAnim.zip)

But when converted to USDZ, it failed...

[2019-07-31 12:10] enzyme69 commented on #168
It's just 2 box object animated for 10 frames.

I provide the blend, usda, gltf, fbx --- none of them works... only 1 object animating ><
[boxanim.zip](https://github.com/kcoley/gltf2usd/files/3451718/boxanim.zip)

[2019-07-31 12:34] enzyme69 commented on #168
This one actually works... parented all objects into an empty called ROOT. It's weird. I think I've done something similar in the past (?) with eyeballs animation.

[this_work_parented_ROOT.zip](https://github.com/kcoley/gltf2usd/files/3451811/this_work_parented_ROOT.zip)

[2019-07-31 13:10] enzyme69 commented on #168
I tried with my Torus, with root parent... still does not work. It does not make sense...

[Archive.zip](https://github.com/kcoley/gltf2usd/files/3451956/Archive.zip)

[2019-08-01 00:37] enzyme69 commented on #168
My feeling is that somewhat "only 1 animation" possible under 1 action take. Sometimes with the right "hack" multiple objects can work.

I tested with Sketchfab and very often only 1 animated object works... unless ...

[2019-08-01 00:58] enzyme69 commented on #168
My quick solution so far is to bring all those animated objects into SKETCHFAB, and then redownloading the gltf...

https://sketchfab.com/3d-models/hundred-torus-procedural-animation-fd8c3e9676944d9c8faf973d47898f39

It's weird but works. Someone at Apple, working on usdzconvert need to investigate this.

[2019-08-01 01:33] enzyme69 commented on #168
Twitter Thread:
https://twitter.com/jimmygunawanapp/status/1156732937565429767?s=20

I am still wondering what Sketchfab did when converting BLEND into GLTF that works with the converter...! BIG MYSTERY.

[2019-08-01 02:58] enzyme69 commented on #168
From @ashley, one solution is to export as DAE, import back into Blender, export as GLTF. Then it works. Strange?

[2019-08-01 03:06] enzyme69 commented on #168
The answer might lie in "keyframing" everything, every channel properties and attributes of the objects, so they are all "identical" ...
<img width="943" alt="Screen Shot 2019-08-01 at 1 05 47 pm" src="https://user-images.githubusercontent.com/3952687/62262726-1c398280-b45d-11e9-8083-356f174d4056.png">

[2019-08-02 15:08] paprikka commented on #169
+1 Please let me know if there's anything I can do to help.

[2019-08-14 11:10] ang88myt opened #170 "large texture size after convert"
![OneCommanderV2_08-14](https://user-images.githubusercontent.com/19507159/63016750-144ef900-bec7-11e9-83c0-489001814ae6.png)

[2019-08-14 11:12] ang88myt commented on #170
how can I reduce it to the same size as gltf? why the texture conversion is not 1:1? Please help.

[2019-08-15 13:49] kcoley commented on #170
Hi @ang88myt. Due to occlusion metallic roughness texture unpacking and texture transforms with pillow, new images get generated, though pillow does not preserve the original compression.  This step was needed since texture swizzling was not working on iOS 12.

There is an —optimize-textures flag that attempts to reduce file size at the expense of a bit longer export time.

[2019-08-16 15:58] ang88myt commented on #170
Hi kcoley, thank you. could your confirm the usage below if it is correct way?
python gltf2usd.py -g ../path_to_read_glTF_file/file.gltf -o path_to_write_usd_file/file.usdz --optimize-textures

[2019-08-16 20:54] shyam98 opened #172 "Texture of object greatly reduced"
After running a gltf file through gltf2usd, the final usdz file has a reduced texture quality compared to the original gltf file. I could not find a way to reduce the smoothening in the code. Please let me know if there is something I can do to make the USDZ file look more like the original glTF file. Thanks!

![TransmissionGltf](https://user-images.githubusercontent.com/2637816/63197506-dc61c600-

[2019-08-17 01:19] jpweeks opened #173 "Skinned Mesh Bone Hierarchy"
I'm not sure if this is a limitation of the USD format, or an issue with conversion, but I've noticed that skinned meshes only work if they have a single root bone at the top level of the armature. If there are many bones as direct descendants of the armature, conversion yields unexpected results. I'm authoring in Blender 2.79.

[2019-08-17 23:42] #172 closed

[2019-08-28 10:39] jclarkk opened #174 "'bufferView' key error while loading GLTF"
Attached the GLTF archive
[86444.zip](https://github.com/kcoley/gltf2usd/files/3550390/86444.zip)

[2019-09-10 05:47] SokWonJeremyKim commented on #169
+1 Please help. GLTF viewers show transparency correctly, which is lost on exporting to USDZ

[2019-09-13 15:13] ephb commented on #162
I looked into iOS 13 some more and it seems to wrongly switch to transparent rendering when PNG textures are used even without transparency. A workaround that worked for me is is to use jpg Textures for now.
Transparency z-sorting problems can by worked around by using multiple Materials.

The one thing I haven't found a solution for so far is that meshes with skinned animation seem to loose their

[2019-09-17 19:15] shyam98 opened #175 "Value Error('unknown file extension:') error for some gltf files"
I export fbx or obj files from Solidworks visualize then using blender to convert them to gltf. When taking those gltf files and running them through gltf2usd I get this error. Let me know if here is anything I can do to fix this, thanks!

`Traceback (most recent call last):                                                                                                               File "gltf2usd

[2019-09-26 07:01] ShantanuSriv opened #176 "Addition of opacityThreshold for USD Preview Surface"
I think in the usd_material class we have not added opacityThreshold parameter which was introduced recently. It would be nice to have this feature included in the usd_material class because seems like this is performing the same operation as what alphaCutoff does in glTF.

[2019-09-29 03:07] dafergu2 commented on #167
@FaiyazMdAbdul I believe this is due to an AR check that executes, even if the switch isn't specified.

https://github.com/kcoley/gltf2usd/blob/34fdd288f3b12cbf8bbe32a7ea134cd44249f3e9/Source/gltf2usd.py#L872-L887

Line 872 runs a compliance check against ARKit.  If it fails, `success` is now `false`.  The script then checks to see if the AR check has been specified and returns if it has and the c

[2019-10-18 05:02] Plscall922 commented on #175
Have same issue here with blender 2.8 gltf files

Traceback (most recent call last):
  File "C:\gltf2usd-master\Source\gltf2usd.py", line 923, in <module>
    convert_to_usd(os.path.expanduser(args.gltf_file), os.path.abspath(os.path.expanduser(args.usd_file)), args.fps, args.scale, args.arkit, args.verbose, args.use_euler_rotation, args.optimize_textures, args.generate_texture_transform_texture,

[2019-10-18 07:30] Plscall922 commented on #175
So I found solution that works for me!

When export from blender to gltf You need to choose Format: glTF Separate(.gltf + .bin + textures)

Then gltf2usd sript will work as it should!

[2019-10-30 11:24] ephb opened #178 "Texture names with spaces do not work"
Hi,
If any material contains a texture which has a space in its name the conversion will fail without an error message.
This is basically two bugs.

Bug 1: Texture names are no correctly escaped so spaces in the name leads to the texture not being found.
Bug 2: Missing textures make the conversion fail without a correct error message.

Workaround: Use texture names without spaces
Please let me kno

[2019-10-31 08:11] sayduck-daniel opened #179 "Warning: in _CreateNewUsdzPackage"
We are getting this error more and more often on our implementation.

Is this a known issue?

[code]

[2019-11-19 20:56] rafaelmaroxa commented on #169
@TyLindberg This line was removed on commit c0301fc9579739c826d51be97fc1d169f2c78e65 like you suspected. Adding it back fixed it for me, but may not work for you.

Added the following line to the `_gltf2usd/usd_material.py` file:

[code]

[2019-11-20 07:20] TyLindberg commented on #169
@rafaelmaroxa Nice find! Might be worthwhile to open a pull request with that fix.

[2019-11-20 12:41] enzyme69 opened #180 "Opacity and Alpha and Transparency"
I am wondering whether USDZ still have known issue with transparency and alpha?

Such as below I have a simple snow with alpha, I can't seem to get USDZ with proper transparency to match the alpha, I keep getting shiny specular no matter what.

![PinClipart com_snow-flake-clip-art_4527047](https://user-images.githubusercontent.com/3952687/69239816-2f7c8380-0bef-11ea-95cd-fc3151fd6b04.png)

[2019-11-20 12:44] enzyme69 commented on #180
Here is a GLB:
[just_snow_001.glb.zip](https://github.com/kcoley/gltf2usd/files/3869222/just_snow_001.glb.zip)

I can't get the opacity without specular and shadow is also wrong (square instead of snow like).

[2019-11-20 12:56] enzyme69 commented on #180
GLTF
[Archive.zip](https://github.com/kcoley/gltf2usd/files/3869300/Archive.zip)

[2019-11-20 13:03] enzyme69 commented on #180
![IMG_6107](https://user-images.githubusercontent.com/3952687/69241197-6011ec80-0bf2-11ea-82a0-162845671aab.JPG)

Not sure if this is related to transparentDuck, but maybe not.

[2019-11-22 22:21] enzyme69 commented on #180
In more recent version of Blender, USD export, assigning Alpha and Transparency correctly will give a good USDZ, but occassionally still needing to "fixOpacity".

<img width="764" alt="Screen Shot 2019-11-23 at 9 20 49 am" src="https://user-images.githubusercontent.com/3952687/69464477-8c845f00-0dd2-11ea-9fae-31018b963b50.png">

[2019-11-22 22:21] #180 closed

[2019-11-29 13:07] sayduck-daniel opened #181 "USD conversion stoped working"
This [glTF](https://github.com/kcoley/gltf2usd/files/3905289/test.zip) can't get converted:

[code]

[2019-11-29 13:15] sayduck-daniel commented on #181
It seems this is due to the use of a draco mesh. I'm not sure if this should be fixed on your side. We will for now skip draco compression

[2019-11-29 13:15] #181 closed

[2019-12-04 09:12] sayduck-daniel opened #182 "Sanitise node names"
[This glTF](https://staging-cdn.sayduck.io/a/shared_assets/files/000/000/327/f21770644ab452bee292fb4f882ea91a2b4d0b39348534bdd483d4f0d693c647-original.gltf) does not convert and trow this error:

[code]

It appears to be related to the node name `"Hay-+undefined-"`. The `+` sign seems to break it and it shouldn't because it is valid for the glTF spec.

[2019-12-04 11:23] ephb commented on #182
The same is true for the the eclemation mark ! and underscore _ sign as well as any umlauts like"äöü".

[2019-12-05 11:41] sayduck-daniel commented on #182
This is quote blocking for us, any chance you could look at it @kcoley :) ?

[2019-12-05 11:47] ephb commented on #179
The warning about the temporary files is a known issue.

[2019-12-05 11:48] ephb commented on #182
@sayduck-daniel can't you change your node names? This is the way I currently work around this.

[2019-12-07 00:09] kcoley commented on #182
The issue here is that the USD API has more restrictions on supported characters than glTF. It may be better in this case to try to change your node names

[2019-12-07 00:14] kcoley commented on #181
Yeah Draco support would be quite heavy for Python. There is another conversion tool hosted by Google that lists support for Draco meshes https://github.com/google/usd_from_gltf/blob/master/README.md

[2019-12-10 09:06] sayduck-daniel commented on #182
We did it on our side. But I still think the gltf2usd should always work when we give him a valid glTF, specially when this glTF could come from a user and pass a glTF validator test.

[2019-12-10 09:06] #182 closed

[2019-12-11 08:24] ang88myt commented on #169
im having this issue
![File](https://user-images.githubusercontent.com/19507159/70603986-b7740d00-1c32-11ea-99df-9eb3b561f2f4.jpg)

[2019-12-11 08:25] ang88myt commented on #169
opacity did not work after the convert to usdz file

[2019-12-11 08:26] ang88myt commented on #169
may i know what is the proper way to it up on gltf side?

[2020-01-02 23:37] danlee-lils opened #183 "Compatibility with USD Python 19.11?"
Hello there!

The readme still says it is compatible with Pixar USDPython 18.11... has this awesome converter tool been tested with latest Pixar USDPython 19.11?

[2020-01-07 17:48] #183 closed

[2020-02-10 19:18] danlee-lils commented on #176
I have made this change. This change requires minor change in gltf material.py and making sure to add the opacityThreshold when blend mode is set to mask. Just a sidenote, Apple's quicklook at this point does not support opacityThreshold. Ping me and I can share it with you. One question that I would love to hear from kcoley is that I am not sure if I have to connect opacityThreshold to any kind o

[2020-03-26 15:43] makc opened #184 "Error converting GLTF with animations"
So we get something like this:
[code]
Trying to convert this file:
[Archive.zip](https://github.com/kcoley/gltf2usd/files/4388172/Archive.zip)
Not  sure if it is related to e g #168 as they do not seem to have actual errors

[2020-03-26 15:52] makc commented on #184
Looks like this is [line 530](https://github.com/kcoley/gltf2usd/blob/master/Source/gltf2usd.py#L530) now. From [this](https://github.com/PixarAnimationStudios/USD/blob/be1a80f8cb91133ac75e1fc2a2e1832cd10d91c8/pxr/usd/usdSkel/testenv/testUsdSkelUtils.py#L113) it looks like the code should be
[code]
maybe?

[2020-06-10 06:36] ZeroSOFAD opened #185 "Error python gltf2usd.py"
I get an error

------ERROR-----

C:\OpenServer\domains\3d\gltf2usd-master\Source>**python gltf2usd.py -h**
Traceback (most recent call last):
  File "gltf2usd.py", line 21, in <module>
    from _gltf2usd.gltf2loader import GLTF2Loader, PrimitiveMode, TextureWrap, MinFilter, MagFilter
  File "C:\OpenServer\domains\3d\gltf2usd-master\Source\_gltf2usd\gltf2loader.py", line 9, in <module>
    import

[2020-07-12 10:13] oguzhancevik commented on #155
What is the solution?

[2020-07-19 04:40] hellovarun commented on #155
what is it, I can you help?

[2020-07-19 04:51] hellovarun commented on #155
@yspark90 Hello! Greetings from a designer trying code
 I have added paths in my terminal under `nano .bash_profile` but doesn't seem to be working

export PATH="$PATH:/usr/local/USD/bin/"
export PYTHONPATH="$PYTHONPATH:/usr/local/USD/lib/python"

Can someone help, if I'm missing something here and USD folder exits in my directory and I'm able to run the export path command directly before running

[2020-07-19 09:56] hellovarun opened #186 "Path must be an absolute path:<>"
Hello, I was trying to convert gltf2usdz and stuck here any workaround for this or i"m missing something?

I have given the absolute path despite that this error.

this is was the command used to run the script.

`python gltf2usd.py -g /Users/varunsaini/Desktop/usd-sdk/gltf2usd-master/Source/tests/assets/Start_Walking/Start_Walking.gltf -o /Users/varunsaini/Desktop/gltf2usdz/usdz/test.usdz
`
and t

[2020-12-23 10:02] stetttho commented on #184
i had the same issue, seems it's due to an API change in the latest release of Pixars USD. I therefore installed version 18.11 instead (you can grab it from https://github.com/PixarAnimationStudios/USD/releases). The error didn't show up anymore after that, but unfortunatly animations still didn't work (animations were done with Unity which worked fine in the gltf format).

still big thanks to @kc

[2021-02-19 14:04] felipe-dap commented on #185
Cheers ZeroSOFAD. This is likely due to Python versions, I suppose.
I am not a mantainer for this repo but I ran into this issue today and managed to fix it with some simple changes.
Let me know if help on this is still relevant for you.

[2021-02-19 14:20] felipe-dap opened #191 "Python3.7 upgrading and TypeError: TypeError: can't multiply sequence by non-int of type 'float'"
Cheers everyone and thanks for the effort on making this available for everyone.
Since I needed to run it on Python 3.7 I had to adjust a few things.
1. Adjusting relative imports,
2. Class Node from gtfl2
Line 11 -> unicode has to be changed to str for Python 3.

2. Class Skin from gtfl2
Remove import Set from sets, as it is built-in for Python 3.
change Set to set on the file, whenever it has ca

[2021-02-20 07:31] texperia commented on #185
Hey felipe-dap, could you please help me with this issue. I am having the same exact problem but I'm on Ubuntu 20.04 and Python version is 3.8.5.

[2021-02-20 07:32] rohitmorph commented on #185
Hey felipe-dap, could you please help me with this issue. I am having the same exact problem but I'm on Ubuntu 20.04 and Python version is 3.8.5.

[2021-02-20 15:57] felipe-dap commented on #185
Hey, rohitmorph!
You might be having a problem with file referencings.
Try something like this:
gltf2/__init__.py
// fix module importing with _gtfl2usd

from _gltf2usd.gltf2.Skin import Skin
from _gltf2usd.gltf2.Node import Node
from _gltf2usd.gltf2.Animation import Animation
from _gltf2usd.gltf2.Scene import Scene
from _gltf2usd.gltf2.Mesh import Mesh
from _gltf2usd.gltf2.Material import Materia

[2021-02-20 16:35] rohitmorph commented on #185
Hey felipe-dap,

I really have no clue how to thank you for this. You are amazing my friend. Wish I could buy you a beer!

Followed your suggestion and it worked perfectly well. I had one other similar error. I'm mentioning it here just in case other people have the same issue.

Class GLTFImage from gtfl2
Line 53 -> unicode has to be changed to str for Python 3.
Line 53 -> becomes like this
if isi

[2021-02-20 19:38] felipe-dap commented on #185
Good! Glad it worked!
Cheers!

[2021-09-14 15:51] methot-ilya-3ds commented on #185
I tried to make these changes as well, but I am now getting this error:
`ModuleNotFoundError: No module named 'gltf2'`

Not sure what I did wrong?

[2021-09-14 17:29] methot-ilya-3ds opened #195 "Expected VtArray<TfToken>"
I find that some conversions are not working for me. I get the following error:

'Type mismatch for </root/b_Z_UP__0/b_Armature__1/b_Cesium_Man__2/skeleton_root/b_Skeleton_torso_joint_1__3.joints>: expected 'VtArray<TfToken>', got 'vector<VtValue,allocator<VtValue> >''

[2021-09-14 19:43] felipe-dap commented on #185
Hello @methot-ilya-3ds
Been a while that I did this so I don't have it fresh in my mind.
I remember it was kind tricky. So let's try to make it work. =)
What python version are you using?
Can you post the whole error here?
Are you using a virtual environment?

[2021-09-14 21:27] methot-ilya-3ds commented on #185
@felipe-dap Hi Felipe, I actually ended up completely re-copying the project and starting from scratch and somewhere along the line I figured it out.

There are a couple of lines in the repo that are not updated for the latest USD package, such as animation support, but otherwise I was able to get the conversion working!

[2021-09-15 10:55] felipe-dap commented on #185
@methot-ilya-3ds Good! Happy coding! Cheers.

[2021-10-29 15:15] pedrorocha-net commented on #169
Any update on this issue? Should we consider a PR with the suggested fix?

[2021-11-26 06:17] xiaohulihutu commented on #195
Looks like that is the pxr module version issue. I am trying to get a 18.11 whl but no where i can find it.